{% extends "./layout.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include './_common/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			{% if data['ilr-submission-status'] == "processing" %}
			<div class="info-summary">
				<h3 class="heading-medium">
					Your recent ILR file submission
				</h3>
				<p>
					The ILR file you recently submitted is being processed. You will be able to <a href="ilr-submission/ilr-submission-details?ilr-submission-status=processing">view information and reports related to your submission</a> in around 15 minutes.
				</p>
			</div>
			{% elif data['ilr-submission-status'] == "processed" %}
			<div class="success-summary">
				<h3 class="heading-medium">
					Your recent ILR file submission
				</h3>
				<p>
					The ILR file you recently submitted has been processed and you can now <a href="ilr-submission/ilr-submission-details?ilr-submission-status=processed">view information and reports related to your submission</a>.
				</p>
			</div>
			{% endif %}
			<form method="post">
				<div class="form-group">
					<fieldset>
						<legend>
							<h1 class="heading-large">Choose data you need to submit</h1>
						</legend>

						<div class="multiple-choice">
							<input id="radio-ilr" type="radio" name="submissionType" value="ilr" required>
							<label for="radio-ilr">Individualised Learner Record (ILR)</label>
						</div>

						<div class="multiple-choice">
							<input id="radio-eas" type="radio" name="submissionType" value="eas" required>
							<label for="radio-eas">Earnings Adjustment Statement (EAS)</label>
						</div>
						
					</fieldset>
				</div>

				<input type="submit" value="Start submitting data" class="button">
			</form>
		</div>
	</div>
</main>

{% endblock %}