{% extends "../layout-estimator.html" %}
{% set phaseBanner = true %}
{% set serviceName = "Find out the cost of an apprenticeship" %}

{% set currentPage = 'finance' %}
{% set loggedIn = data['logged-in'] === 'true' %}
{% set levyPayer = data['annual-levy-amount'] != '' %}

{% block content %}

{% if levyPayer %}
{% set apprenticeshipCost = 9000 %}
{% else %}
{% set apprenticeshipCost = 900 %}
{% endif %}

{% set totalCost = 0 %}

{% for i in range(1, 999) %}
{% if data['apprenticeship_' + i + '-name'] and data['apprenticeship_' + i + '-count'] %}
{% set totalCost = (data['apprenticeship_' + i + '-count'] * apprenticeshipCost) + totalCost %}
{% endif %}
{% endfor %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-l">
			Estimated cost of apprenticeship training
		</h1>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		{% if data["apprenticeship-added"] === 'true' %}
		<!-- <div class="govuk-inset-text govuk-inset-text--success">
			Apprenticeships added.
		</div> -->
		{% endif %}

		{% if data["apprenticeship-removed"] === 'true' %}
		<!-- <div class="govuk-inset-text govuk-inset-text--warning">
			Apprenticeships removed.
		</div> -->
		{% endif %}

		{% if data["apprenticeship-updated"] === 'true' %}
		<!-- <div class="govuk-inset-text govuk-inset-text--info">
			Apprenticeships updated.
		</div> -->
		{% endif %}
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		{% if totalCost < data['annual-levy-amount'] %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<div class="govuk-inset-text govuk-inset-text--success govuk-!-margin-top-0">
					<p class="govuk-heading-m">
						You can afford your chosen apprenticeship training
					</p>
				</div>

				<p class="govuk-body-l">
					You would have around £{{ ((data['annual-levy-amount'] / 12) - (totalCost * 0.8 / 12)) | numeral().format("0,0") }} left to spend each month after payments have been taken from your levy balance
				</p>

				<p>
					Your chosen apprenticeship training would cost around £{{(totalCost * 0.8 / 12) | numeral().format("0,0")}} per month
				</p>
				<p>
					You would pay a total of about £{{(totalCost * 0.2) | numeral().format("0,0")}} in completion payments
				</p>
			</div>
		</div>

		{% else %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<div class="govuk-inset-text govuk-inset-text--info govuk-!-margin-top-0">
					<p class="govuk-heading-m">
						You would need to make additional payments for your chosen apprenticeship training
					</p>
				</div>

				<p class="govuk-body-l">
					You would have around £{{ ((data['annual-levy-amount'] / 12) - (totalCost * 0.8 / 12)) | numeral().format("0,0") }} left to spend each month after payments have been taken from your levy balance
				</p>

				<p>
					Your chosen apprenticeship training would cost around £{{(totalCost * 0.8 / 12) | numeral().format("0,0")}} per month
				</p>
				<p>
					You would pay a total of about £{{(totalCost * 0.2) | numeral().format("0,0")}} in completion payments
				</p>
			</div>
		</div>
		{% endif %}
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h2 class="govuk-heading-m govuk-!-margin-top-4">
			Apprenticeships
		</h2>

		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Apprenticeship</th>
					<th class="govuk-table__header govuk-table__header--numeric" scope="col">Apprentices</th>
					<th class="govuk-table__header govuk-table__header--numeric" scope="col">Cost</th>
					<th class="govuk-table__header" scope="col"></th>
					<th class="govuk-table__header" scope="col"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% macro apprenticeship(id, attribute) %}
				{{ data['apprenticeship_' + id + '-' + attribute] }}
				{% endmacro %}

				{% for i in range(1, 999) %}
				{% set el = 'apprenticeship_' + i %}
				{% if data[el + '-name'] and data[el + '-count'] %}

				{% set name = apprenticeship(i,'name').split("|")[0] %}
				{% set level = apprenticeship(i,'name').split("|")[1] %}
				{% set standard = apprenticeship(i,'name').split("|")[2] %}
				{% set id = apprenticeship(i,'name').split("|")[3] %}
				{% set startDate = apprenticeship(i,'name').split("|")[4] %}

				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">
						{{name}}{{" (Standard)" if standard === 'true'}}<br>
						<span class="govuk-!-font-weight-regular">Level: {{level}}</span><br>
						<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/Apprenticeship/{{'Standard' if standard === 'true' else 'Framework'}}/{{id}}" target="_blank" class="govuk-!-font-weight-regular">More details</a>
					</th>
					<td class="govuk-table__cell govuk-table__cell--numeric">{{ apprenticeship(i,'count') }}</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">£{{ (apprenticeship(i,'count') * apprenticeshipCost) | numeral().format('0,0')}}</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">
						<a href="../edit-apprenticeship?edit-apprenticeship_id={{i}}">Edit</a>
					</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">
						<a href="?apprenticeship-removed=true&apprenticeship-added=false&apprenticeship_{{i}}-count=&apprenticeship_{{i}}-name=">Remove</a>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell" colspan="5">
						<a href="../add-apprenticeship" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2 govuk-!-margin-top-2">
							Add more apprenticeships
						</a>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="govuk-grid-row govuk-!-margin-top-8">
			<div class="govuk-grid-column-two-thirds">
				<h2 class="govuk-heading-m">
					Register to start these apprenticeships
				</h2>
				<p>
					If you are ready to register on the apprenticeship service, you need to set up your account.
				</p>

				<p class="govuk-!-margin-bottom-0">
					<a href="https://manage-apprenticeships.service.gov.uk/" target="_blank" class="govuk-button govuk-!-margin-bottom-2">Register on the apprenticeship service</a>
				</p>

				<p class="govuk-!-font-size-14">
					This link will open in a new tab
				</p>
			</div>
		</div>
	</div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8 govuk-!-margin-bottom-8">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m">
			Previous answers
		</h2>

		<dl class="app-check-your-answers app-check-your-answers--long">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					
				</dt>
				<dd class="app-check-your-answers__answer">
					
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="/{{version}}/estimator">
						Start again
					</a>
				</dd>
			</div>

			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Your monthly payroll
				</dt>
				<dd class="app-check-your-answers__answer">
					£{{data['monthly-payroll'] | numeral().format(0,0)}}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="business-details">
						Change
					</a>
				</dd>
			</div>

			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Percentage of employes in England
				</dt>
				<dd class="app-check-your-answers__answer">
					{{data['english-percentage']}}%
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="english-percentage">
						Change
					</a>
				</dd>
			</div>
		</dl>
	</div>
</div>
{% endblock %}