{% extends "layout-account.html" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
	items: [
	{
		text: "Home",
		href: "account-home"
	},
	{
		text: "Finance"
	}
	]
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl heading-dashboard" id="company-Name">
	Finance
</h1>

<div class="govuk-grid-row" id="page-transactions">
	<div class="govuk-grid-column-one-third">
		<div class="data-wrap">
			<div class="data">
				<dl class="data--purple">
					<dt>
						Current funds
					</dt>

					<dd class="govuk-!-font-size-36">£39,038</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data-wrap">
			<div class="data">
				<dl class="data--grey">
					<dt>
						Future outgoings
					</dt>

					<dd class="govuk-!-font-size-36">£0</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data-wrap">
			<div class="data">
				<dl class="data--red-border">
					<dt>	
						Funds expiring in October 2020
					</dt>

					<dd class="govuk-!-font-size-36">£2,933</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-8" id="page-transactions">
	<div class="govuk-grid-column-one-third">
		<div class="data-wrap">
			<div class="data">
				<dl class="data--grey">
					<dt>
						Committed spend next month
					</dt>

					<dd class="govuk-!-font-size-36">£0</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data-wrap">
			<div class="data">
				<dl class="data--grey">
					<dt>
						Government co-funding next month
					</dt>

					<dd class="govuk-!-font-size-36">£0</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data-wrap">
			<div class="data">
				<dl class="data--grey">
					<dt>
						Employer contribution cost next month
					</dt>

					<dd class="govuk-!-font-size-36">£0</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Transaction history" href="#">
				Transaction history
			</a>
		</h2>
		<p>View payments made into and out of your apprenticeship service account. </p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Future spending" href="/{{version}}/future-spending">
				Future spending
			</a>
		</h2>
		<p>
			View future costs for apprenticeships you’re already committed to fund.
		</p>
	</div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Estimate apprenticeship costs" href="/{{version}}/estimate-apprenticeships">
				Estimate apprenticeship costs
			</a>
		</h2>
		<p>
			Estimate the cost of taking on more apprenticeships.
		</p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Download transactions" href="#">
				Download transactions
			</a>
		</h2>
		<p>Download your financial transactions within a specific date range. </p>
	</div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Manage transfers" href="#">
				Transfers
			</a>
		</h2>
		<p>Connect with other employers and send or receive transfer funds. </p>
	</div>
</div>
{% endblock %}
