{% extends "../layout.html" %}

{% block page_title %}
ILR Submission History
{% endblock %}

{% block service_name %}
ILR Submission History
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include 'includes/phase_banner.html' %}
	
	<div class="breadcrumbs">
		<ol>
			<li><a href="../hub/">{{ data['provider-name'] or "Cambridge College" }}</a></li>
			<li><a href="">ILR submission history</a></li>
		</ol>
	</div>
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				<abbr title="Individualised Learner Record">ILR</abbr> submission history
			</h1>
						
			<table class="table-font-xsmall">
				<thead>
					<tr>
						<th>2017&ndash;2018 return periods</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>	
					<tr>
						<td><a href="./ilr-details?ilr-period=6&ilr-year=2017&ndash;2018">Return period 6</a></td>
						<td>Open</td>
						<td>1st &ndash; 30th September 2017</td>
					</tr>
								
					<tr>
						<td><a href="#">Return period 5</a></td>
						<td>Closed</td>
						<td>1st &ndash; 31st August 2017</td>
					</tr>

					<tr>
						<td><a href="#">Return period 4</a></td>
						<td>Closed</td>
						<td>23rd August 2017</td>
					</tr>
					
					<tr>
						<td><a href="#">Return period 3</a></td>
						<td>Closed</td>
						<td>23rd August 2017</td>
					</tr>
					
					<tr>
						<td><a href="#">Return period 2</a></td>
						<td>Closed</td>
						<td>23rd August 2017</td>
					</tr>
					
					<tr>
						<td><a href="#">Return period 1</a></td>
						<td>Closed</td>
						<td>23rd August 2017</td>
					</tr>
				</tbody>
			</table>
			
			<h2 class="heading-medium">Past years&rsquo; submissions</h2>			
			<table class="table-font-xsmall">
				<thead>
					<tr>
						<th>2016&ndash;2017 return periods</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td><a href="#">Return period 12</a></td>
						<td>Closed</td>
						<td>1st &ndash; 30th September 2016</td>
					</tr>
								
					<tr>
						<td><a href="#">Return period 11</a></td>
						<td>Closed</td>
						<td>1st &ndash; 31st August 2016</td>
					</tr>

					<tr>
						<td><a href="#">Return period 10</a></td>
						<td>Closed</td>
						<td>1st &ndash; 31st July 2016</td>
					</tr>
					
					<tr>
						<td><a href="#">Return period 9</a></td>
						<td>Closed</td>
						<td>1st &ndash; 30th June 2016</td>
					</tr>
					
					<tr>
						<td><a href="#">Return period 8</a></td>
						<td>Closed</td>
						<td>1st &ndash; 31st May 2016</td>
					</tr>
					
					<tr>
						<td><a href="#">Return period 7</a></td>
						<td>Closed</td>
						<td>1st &ndash; 30th April 2016</td>
					</tr>
					
					<tr>
						<td><a href="#">Return period 6</a></td>
						<td>Closed</td>
						<td>1st &ndash; 31st March 2016</td>
					</tr>
								
					<tr>
						<td><a href="#">Return period 5</a></td>
						<td>Closed</td>
						<td>1st &ndash; 31st February 2016</td>
					</tr>

					<tr>
						<td><a href="#">Return period 4</a></td>
						<td>Closed</td>
						<td>1st &ndash; 30th January 2016</td>
					</tr>
					
					<tr>
						<td><a href="#">Return period 3</a></td>
						<td>Closed</td>
						<td>1st &ndash; 31st December 2016</td>
					</tr>
					
					<tr>
						<td><a href="#">Return period 2</a></td>
						<td>Closed</td>
						<td>1st &ndash; 30th November 2016</td>
					</tr>
					
					<tr>
						<td><a href="#">Return period 1</a></td>
						<td>Closed</td>
						<td>1st &ndash; 31st October 2016</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="column-one-third">
			
			{% include '../includes/return_period_info.html' %}
			<hr>
			<h3 class="heading-medium">
				Latest information 
				<div class="font-xsmall">12th December 2017</div>
			</h3>
			<p>Qualification achievement rates for 2016 to 2017 - provisional data now available.</p>
			<p>Guidance on how to use your data extracts can be found here.</p>
			<p><a href="#">See all announcements</a></p>
		</div>
	</div>
</main>

{% endblock %}