{% extends "../layout.html" %}

{% set serviceName = 'Submit learner data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include '../_common/_phase-banner.html' %}
	
	<div class="grid-row">
		<div class="column-two-thirds" id="uploading-content">
			<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

			<form action="upload-ilr-file">
				<div class="form-group">
					<fieldset>
						<legend>
							<h1 class="heading-large">Choose the return period you are submitting data for</h1>
						</legend>

						<p class="">
							There are two return periods open for data submissions so you need to choose which return period this data submission is being made for.
						</p>

						<div class="multiple-choice">
							<input id="radio-period-13" type="radio" name="returnPeriod" value="13" required>
							<label for="radio-period-13">Return period 13 (R13) for 2017-18</label>
						</div>

						<div class="multiple-choice">
							<input id="radio-period-1" type="radio" name="returnPeriod" value="01" required>
							<label for="radio-period-1">Return period 1 (R01) for 2018-19</label>
						</div>
					</fieldset>
				</div>

				<input type="submit" class="button" value="Continue">
			</form>
		</div>
	</div>
</main>

{% endblock %}