.data-wrap {
    @extend %contain-floats;
    margin: 0 (-$gutter-half);
}

.data {
    dl {
   
        @include box-sizing(border-box);
        padding: 15px; 
        background: $fuschia;
        color: white;
        dt {
            display: table-footer-group;
            @include bold-19;
        }
        dd {
            display: table-header-group;
            @include bold-48;
        }
    }
    @include media(tablet) { 
        padding: 0 $gutter-half;
        float: left;
        width: 50%;
        @include box-sizing(border-box);
        dd.long {
            font-size: 42px;
            line-height: 50px;
        }
        dd.longer {
            font-size: 32px;
            line-height: 50px;
        }
    }
    @include media(960px) {
        width: 33.33%;
        dd.long {
            font-size: 48px;
            line-height: 50px;
        }
        dd.longer {
            font-size: 42px;
            line-height: 50px;
        }
    }
}