/*Finance dashboard UI new*/
#page-transactions,
#page-transfers {
  .column-half {
    .data {
      width: 100%;

      dl {
        position: relative;
        min-height: 170px;
        padding-bottom: 50px;
        background: $purple;

        dt {
          position: absolute;
          bottom: 10px;

          a {
            color: #fff;
          }
        }

        dd {
          word-break: break-all;
        }
      }

      dl.current-funds {
        background: $purple;
      }

      dl.current-transfer-funds {
        background: $mellow-red;
      }
    }
  }
}

/* Transfers */
#page-transfers {
  .data {
    width: auto;
    @include media(tablet) {
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
}