.error-summary {
	h1,h2,h3,h4 {
		margin: 0;
	}
}

.warning-summary {
	@extend .error-summary;
	border-color: $orange;
}

.success-summary {
	@extend .error-summary;
	border-color: $turquoise
}

.info-summary {
	@extend .error-summary;
	border-color: $light-blue
}