// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: '/public/images/';

$button-red-border: #790000;
$grey333: #333;
$grey666: #666;
$grey999: #999;
$pale-blue: #EDF4F7;

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';
@import 'conditionals2';
@import 'header';
@import 'notification-banner';
@import 'check-your-answers-hmrc';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/currency-input';
@import 'patterns/autocomplete';

@import 'find-a-payment-schedule';
@import 'schedule';
@import 'homepage-top';
@import 'example';
@import 'nav';
@import 'nav2';
@import 'big-links';
@import 'bank-details';
@import 'tabs';
@import 'log';
@import 'declaration';
@import 'interruption-card';
@import 'global-nav';
@import 'related-items';
@import 'history-panel';
@import 'summary-messages';
@import 'other-buttons';
@import 'reports-data';
@import 'sfs-dashboard';
@import 'employer-header.scss';
@import 'das-nav.scss';
@import 'das-tabs.scss';
@import 'das-data.scss';
@import 'das-finance.scss';
@import 'design-patterns/breadcrumbs.scss';
@import 'c3-chart.scss';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.column-full-width {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
}

.data-summary {
  @extend %contain-floats;

  border-bottom: 1px solid $border-colour;
  margin-bottom: 2em;
  max-width: 30em;
}

.data-summary-key,
.data-summary-value {
  @include box-sizing(border-box);

  border-top: 1px solid $border-colour;
  float: left;
  padding: .63158em 1.05263em .47368em 0;
  width: 50%;
}

.data-summary-key {
  clear: left;
}

.payment-link {
  float: right;
  font-weight: 700;
  margin: 0;
}

.evidence-needed {
  display: block;
  text-align: right;
}

.alert-default {
  background-color: mix(white, $light-blue, 90%);
  border-color: $light-blue;
}

.reject {
  background: $error-colour;
}

// Time since claim
.time-since-claim {
  @media (min-width: 641px) {
    padding: 45px 30px 30px;
  }

  border: 1px solid $border-colour;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
  padding: 20px 20px 10px;
}

.short-input {
  max-width: 150px;
}

.task-incomplete {
  @include phase-tag;
  background-color: $grey-1;
  float: right;
  margin-right: 0;
  padding-top: 3px;
}

.indent-info-blue {
  background-color: $pale-blue;
  background-image: url($path + 'icon-information.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  border-color: $govuk-blue;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-left: 50px;

  @media  (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url($path + 'icon-information-2x.png');
    background-size: 27px 27px;
  }
}

.print-save-icons {
  float: left;
  margin-top: -4px;
  padding-right: 0.6em;
}

.js-enabled .choose-file {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.email {
  width: 640px
}



.popover {
  .popover-link {
    color: red;
    background: #000;
  }
  .popover-content {
    display: none;
  }
  &:focus {
    outline: 3px solid red
  }
  &:active {
    .popover-content {
      display: block
    }
  }
}

.balancesheet {
  tr {
    // td, th {
    //   &:nth-of-type(4) {
    //     background: transparentize($grey-2,0.90)
    //   }

    //   &:nth-of-type(6) {
    //     background: transparentize($light-blue,0.92);
    //   }
    // }
    // th:nth-of-type(4) {
    //   background: transparentize($grey-2,0.70)
    // }
    // th:nth-of-type(6) {
    //   background: transparentize($light-blue,0.80)
    // }

    &:first-of-type {
      border-top: 1px solid $border-colour;
    }
  }
}