{% set apprenticeships = [{
	name: "Horticulture and Landscape Operative",
	level: 2,
	count: 2,
	startDate: "Nov-17",
	cost: 5000,
	transfer: false
},
{
	name: "Construction Specialist",
	level: 2,
	count: 2,
	startDate: "Nov-17",
	cost: 6000,
	transfer: false
},
{
	name: "Construction Technical and Professional",
	level: 3,
	count: 1,
	startDate: "Nov-17",
	cost: 9000,
	transfer: false
},
{
	name: "Facilities Management",
	level: 2,
	count: 7,
	startDate: "Nov-17",
	cost: 1500,
	transfer: false
},
{
	name: "Gas engineering",
	level: 3,
	count: 1,
	startDate: "May-17",
	cost: 27000,
	monthlyPayments: 37,
	transfer: false
},
{
	name: "Business and Administration",
	level: 2,
	count: 4,
	startDate: "May-17",
	cost: 2000,
	monthlyPayments: 13,
	transfer: false
},
{
	name: "Housing / property management assistant",
	level: 2,
	count: 3,
	startDate: "May-18",
	cost: 3000,
	monthlyPayments: 13,
	transfer: false
},
{
	name: "Facilities Management",
	level: 2,
	count: 1,
	startDate: "Jun-18",
	cost: 1500,
	monthlyPayments: 12,
	transfer: false
}]
%}