{% extends "layout-account.html" %}

{% set currentPage = "finance" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block beforeContent %}
{% include 'includes/back-link.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% from "radios/macro.njk" import govukRadios %}

			{{ govukRadios(
				{
					classes: "",
					idPrefix: "plan-current",
					name: "plan-current",
					attributes:
					{
						required: "required"
					},
					fieldset:
					{
						legend:
						{
							text: "Do you want to plan future apprenticeship costs?",
							isPageHeading: true,
							classes: "govuk-fieldset__legend--xl"
						}
					},
					hint:
					{
						text: ""
					},
					items:[
					{
						value: "plan",
						text: "Yes, I want to plan future apprenticeship costs",
						attributes:
						{
							required: "required"
						}
					},
					{
						value: "current",
						text: "No, just show me the cost of my current apprenticehips",
						attributes:
						{
							required: "required"
						}
					}]
				})
			}}

			{% from "button/macro.njk" import govukButton %}

			{{ govukButton({
				text: "Continue"
			}) }}
		</form>
	</div>
</div>
{% endblock %}