<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date</dt>
      <dd>Early April 2018</dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt class="heading-small">Features</dt>
      <dd>Service that would allow learning providers to estimate their funding</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">
  Description
</h2>
<p>
  Exploratory concept that could allow providers to estimate the amount of funding they may recieve based on their learner makeup, without having to actually submit an ILR file.
</p>

<p>
  <a href="/estimate-your-funding/version-1/start" class="button button-start">Start now</a>
</p>
