<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date</dt>
      <dd>Early April 2018</dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt class="heading-small">Features</dt>
      <dd>A concept that could allow learners to manage their own data</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">
  Description
</h2>

<p>
  Exploring a concept allowing learners to directly manage certain amount of the data held by their learnign provider.
</p>

<p>
  In theory, this would prevent a large amount of work and rework that learning provider administrative teams have to complete each return period. It would also allow learning providers to capture more accurate and up-to-date data from learners.
</p>


<p>
  <a href="/student-data-collection/version-1/start" class="button button-start">Start now</a>
</p>
