<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Sprint start date</dt>
      <dd>7 May 2018</dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt class="heading-small">Features</dt>
      <dd>Content and flow revisions based on content review</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<p>
  Content crit resulted in several proposed changes to the copy and flow of the previous version of the prototype.
</p>

<p>
  Exploring adding status of the ILR submission to the "choose submission type" page. Also added the abiilty to navigate to previous ILR submission on the "ILR details" page.
</p>

<h2 class="heading-medium">Useful links</h2>
<ul class="list list-bullet">
 <li>
  <a href="version-6/ilr-submission/upload-complete?ilr-status=ok">
    ILR uploaded (no errors)
  </a>
</li>
 <li>
  <a href="version-6/ilr-submission/upload-complete?ilr-status=errors">
    ILR uploaded (errors)
  </a>
</li>
<li>
  <a href="version-6/ilr-submission/ilr-submission-details?ilr-submission-status=processed">
    ILR submission details (processed)
  </a>
</li>
<li>
  <a href="version-6/ilr-submission/email">
    ILR submission email
  </a>
</li>
<li>
  <a href="version-6/ilr-submission/dates">
    ILR dates
  </a>
</li>
</ul>

<br />

<a href="/version-6" class="button button-start">
  Start now
</a>
