<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Sprint start date</dt>
      <dd>21 May 2018</dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt class="heading-small">Features</dt>
      <dd>EAS submission amended flow concept</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<p>
  Exploration of a slightly different EAS submission flow.
</p>

<h2 class="heading-medium">Useful links</h2>
<ul class="list list-bullet">
 <li>
  <a href="version-7">
    Start page
  </a>
</li>
<li>
  <a href="version-7/login">
    Log in
  </a>
</li>
<li>
  <a href="version-7/choose-submission">
    Choose data submission
  </a>
</li>
</ul>

<details>
  <summary><span class="summary bold">ILR submission</span></summary>
  <ul class="list list-bullet">
   <li>
    <a href="version-7/ilr-submission/upload-complete?ilr-status=ok">
      ILR uploaded (no errors)
    </a>
  </li>
  <li>
    <a href="version-7/ilr-submission/upload-complete?ilr-status=errors">
      ILR uploaded (errors)
    </a>
  </li>
  <li>
    <a href="version-7/ilr-submission/ilr-submission-details?ilr-submission-status=processed">
      ILR submission details (processed)
    </a>
  </li>
  <li>
    <a href="version-7/ilr-submission/email">
      ILR submission email
    </a>
  </li>
  <li>
    <a href="version-7/ilr-submission/dates">
      ILR dates
    </a>
  </li>
</ul>
</details>

<details>
  <summary><span class="summary bold">EAS submission</span></summary>
  <ul class="list list-bullet">
   <li>
    <a href="version-7/eas/statement">
      EAS statement
    </a>
  </li>
  <li>
    <a href="version-7/eas/complete">
      EAS statement updated
    </a>
  </li>
</ul>
</details>

<br />

<a href="/version-7" class="button button-start">
  Start now
</a>
