<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Sprint start date</dt>
      <dd>1 May 2018</dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt class="heading-small">Features</dt>
      <dd>ILR and EAS combined flows</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<p>
  ILR submission split in to two steps: check and submit.
</p>

<p>
	Combined with EAS journey.
</p>

<h2 class="heading-medium">Useful links</h2>
<ul class="list list-bullet">
  <li>
    <a href="version-5/ilr-submission/ilr-submission-details?ilr-submission-status=processed">ILR submission details (processed)</a>
  </li>
  <li>
    <a href="version-5/ilr-submission/email">ILR submission email</a>
  </li>
  <li>
    <a href="version-5/ilr-submission/dates">ILR dates</a>
  </li>
</ul>

<br />

<a href="/version-5" class="button button-start">Start now</a>
