<div class="grid-row">
  <div class="column-third">
    <dl>
      <dt class="heading-small">Date</dt>
      <dd>March 2018</dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Exploring integrating with SFS dashboard</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Description</h2>

<p>
  This concept builds on the work carried out in Alpha (1) and explores how the user might be presented with a single view of their "provider account".
</p>

<p>
  <a href="/version-1" class="button button-start">Start now</a>
</p>
