<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date</dt>
      <dd>2 April 2018</dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt class="heading-small">Features</dt>
      <dd>Online ILR submission &amp; combined service start page</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<p>
  Combined the online ILR submission flow with the earlier stripped-down version of the service
</p>
<p>
  Also begun testing user response to logging in to the service.
</p>

<h2 class="heading-medium">Research notes</h2>

<p>
 <a href="/version-3" class="button button-start">Start now</a>
</p>
