<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Sprint start date</dt>
      <dd>June 2018</dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt class="heading-small">Features</dt>
      <dd>ESF early version. ILR return period statuses and branching.</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<ul class="list list-bullet">
  <li>
    Added branching to the <code>choose-submission</code> page, mimicking what could happen if there are <a href="version-8/choose-submission?return-period-status=open&overlapping-return-period=true">multiple return periods</a>, or the <a href="version-8/choose-submission?return-period-status=closed&overlapping-return-period=false">return window is closed</a>. <span class="bold">Currently, these work for the ILR return journey only.</span>
  </li>
  <li>
    Initial ESF flow added.
  </li>
  <li>
    Minor content updates.
  </li>
</ul>

<h2 class="heading-medium">Useful links</h2>
<ul class="list list-bullet">
 <li>
  <a href="version-8">
    Start page
  </a>
</li>
<li>
  <a href="version-8/login">
    Log in
  </a>
</li>
<li>
  <a href="version-8/choose-submission?return-period-status=open&overlapping-return-period=false">
    Choose data submission (Return window open)
  </a>
</li>
<li>
  <a href="version-8/choose-submission?return-period-status=closed&overlapping-return-period=false">
    Choose data submission (Return window closed)
  </a>
</li>
</ul>

<details>
  <summary><span class="summary bold">ILR submission</span></summary>
  <ul class="list list-bullet">
    <li>
      <a href="version-8/choose-submission?return-period-status=open&overlapping-return-period=true">
        Return period 13/1
      </a>
    </li>
    <li>
      <a href="version-8/ilr-submission/upload-complete?ilr-status=ok">
        ILR uploaded (no errors)
      </a>
    </li>
    <li>
      <a href="version-8/ilr-submission/upload-complete?ilr-status=errors">
        ILR uploaded (errors)
      </a>
    </li>
    <li>
      <a href="version-8/ilr-submission/ilr-submission-details?ilr-submission-status=processed">
        ILR submission details (processed)
      </a>
    </li>
    <li>
      <a href="version-8/ilr-submission/email-ilr-submitted">
        Confirmation email (file submitted)
      </a>
    </li>
    <li>
      <a href="version-8/ilr-submission/email-ilr-processed">
        Confirmation email (file processed)
      </a>
    </li>
    <li>
      <a href="version-8/ilr-submission/dates">
        ILR dates
      </a>
    </li>
  </ul>
</details>

<details>
  <summary><span class="summary bold">EAS submission</span></summary>
  <ul class="list list-bullet">
   <li>
    <a href="version-8/eas/statement">
      EAS statement
    </a>
  </li>
  <li>
    <a href="version-8/eas/complete">
      EAS statement updated
    </a>
  </li>
</ul>
</details>

<details>
  <summary><span class="summary bold">ESF submission</span></summary>
  <ul class="list list-bullet">
   <li>
    <a href="version-8/esf/upload-esf-file">
      ESF start
    </a>
  </li>
</ul>
</details>

<br />

<a href="/version-8" class="button button-start">
  Start now
</a>
