<div class="grid-row">
  <div class="column-third">
    <dl>
      <dt class="heading-small">Date</dt>
      <dd>March 2018</dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Exploring integrating with SFS dashboard</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<p>
  Removed a large amount of functionality following feedback from Alpha assessment.
</p>
<p>
  Looking to broaden the scope of the research to get more insight into user needs. Reducing design decisions based on existing system functionality.
</p>
<p>
  Explores how the service might integrate with the SFS dashboard. Navigating between return types takes places on a combined "service home page".
</p>

<p>
  <a href="/version-2" class="button button-start">Start now</a>
</p>
