{% extends "./layout.html" %}

{% set serviceName = 'Estimate your ESFA funding' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block content %}
<!-- {% include './includes/_header-nav.html' %} -->

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="">
				<fieldset>		
					<legend>
						<h1 class="heading-large">How many learners have acheived an English GCSE?</h1>
					</legend>

					<div class="form-group">
						<label class="form-label" for="ni-number">Learners with a GCSE in English</label>
						<span class="form-hint">
							This could be an estimate if you're not sure of the exact number
						</span>
						<input class="form-control" id="ni-number" type="number" name="ni-number">
					</div>

					<input type="submit" class="button" value="Continue">
				</fieldset>
			</form>
		</div>

		<div class="column-one-third">

		</div>
	</div>
</main>

{% endblock %}