{% extends "./layout.html" %}

{% set serviceName = 'Estimate your ESFA funding' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block content %}
<!-- {% include './includes/_header-nav.html' %} -->

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">					
			<legend>
				<h1 class="heading-xlarge">Estimate your ESFA funding</h1>
			</legend>

			<p>
				Use this service to estimate the amount of funding your organisation could receive from the Education &amp; Skills Funding Agency.
			</p>
			<p>
				You will be asked for information about:
			</p>
			
			<ul class="list list-bullet">
				<li>The number of learners in your organisation</li>
				<li>Estimates for the type of courses learners are enrolled in</li>
				<li>Other spending</li>
			</ul>

			<p>
				<a href="total-learners" class="button button-start">
					Start
				</a>
			</p>
		</div>

		<div class="column-one-third">

		</div>
	</div>
</main>

{% endblock %}