{% extends "./layout.html" %}

{% set serviceName = 'Estimate your ESFA funding' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block content %}
<!-- {% include './includes/_header-nav.html' %} -->

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Estimate of your funding</h1>

			<div class="data">
				<span class="data-item bold-xxlarge">&pound;245,310</span>
				<span class="data-item bold-small">Estimated funding</span>
			</div>

			<table>
				<caption class="heading-small">Details about this funding estimate</caption>
				<tbody>
					<tr>
						<td>Total learners</td>
						<td>{{data['total-learners'] | numeral().format('0,0')}}</td>
						<td><a href="total-learners">Change</a></td>
					</tr>
					<tr>
						<td>&rdsh; Learners aged 16-19</td>
						<td>{{data['age-16-19'] | numeral().format('0,0')}}</td>
						<td><a href="learner-ages">Change</a></td>
					</tr>
					<tr>
						<td>&rdsh; Learners living away from home</td>
						<td>{{data['away-from-home'] | numeral().format('0,0')}}</td>
						<td><a href="learner-accommodation">Change</a></td>
					</tr>
					<tr>
						<td>&rdsh; Learners studying part-time</td>
						<td>{{data['part-time'] | numeral().format('0,0')}}</td>
						<td><a href="learning-hours">Change</a></td>
					</tr>
				</tbody>
			</table>

			<br>

			<p>
				<a href="#" class="button">
					Save and finish
				</a>
			</p>
			<p>
				Or you can <a href="start">start a new estimate</a>
			</p>
		</div>

		<div class="column-one-third">

		</div>
	</div>
</main>

{% endblock %}