{% extends version + "/layout.html" %}

{% set serviceName = 'Submit ILR data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include version + "/includes/_phase-banner.html" %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">		
			<h1 class="heading-large">
				<span class="heading-secondary">Add a learner</span>
				Learner's contact details
			</h1>

			<form action="add-learner-lldd-question">
				<div class="form-group">
					<fieldset>
						<div class="form-group">
							<label class="form-label" for="full-name-f1">House number</label>
							<input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
						</div>

						<div class="form-group">
							<label class="form-label" for="full-name-f1">Postcode</label>
							<input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
						</div>

						<div class="form-group">
							<label class="form-label" for="full-name-f1">Telephone number</label>
							<input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
						</div>

						<div class="form-group">
							<label class="form-label" for="full-name-f1">Email address</label>
							<input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
						</div>
					</fieldset>

					<fieldset>
						<legend>
							<h3 class="heading-medium">What is the learner's contact preference?</h3>
							<span class="body-text">Select all that apply</span>
						</legend>

						<div class="multiple-choice">
							<input id="checkbox-telephone-number" name="contact-preference" type="checkbox" value="true">
							<label for="checkbox-telephone-number">Preference 1</label>
						</div>
						<div class="multiple-choice">
							<input id="checkbox-telephone-number" name="contact-preference" type="checkbox" value="true">
							<label for="checkbox-telephone-number">Preference 2</label>
						</div>
						<div class="multiple-choice">
							<input id="checkbox-telephone-number" name="contact-preference" type="checkbox" value="true">
							<label for="checkbox-telephone-number">Third preference</label>
						</div>
					</fieldset>
				</div>

				<input type="submit" value="Continue" class="button">
			</form>
		</div>

		<div class="column-one-third">

		</div>
	</div>
</main>

{% endblock %}