{% extends version + "/layout.html" %}

{% set serviceName = 'Submit ILR data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include version + "/includes/_phase-banner.html" %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">		
			<form action="learners-left-additional">
				<div class="form-group">
					<fieldset>
						<legend>
							<h1 class="heading-large">Why did this learner leave?</h1>
						</legend>

						<h2 class="heading-medium">{{data['leaver-name']}}</h2>

						<div class="multiple-choice">
							<input id="radio-1" type="radio" name="leavers-group" value="SMITH, John">
							<label for="radio-1">Reason 1</label>
						</div>

						<div class="multiple-choice">
							<input id="radio-2" type="radio" name="leavers-group" value="WILLIAMS, Jane">
							<label for="radio-2">Reason 2</label>
						</div>
						<div class="multiple-choice">
							<input id="radio-3" type="radio" name="leavers-group" value="WORCESTER, Ann">
							<label for="radio-3">Reason 3</label>
						</div>
						<div class="multiple-choice">
							<input id="radio-4" type="radio" name="leavers-group" value="YATES, Barry">
							<label for="radio-4">Reason 4</label>
					</fieldset>
				</div>

				<input type="submit" value="Confirm" class="button">
			</form>
		</div>

		<div class="column-one-third">

		</div>
	</div>
</main>

{% endblock %}