{% extends "./layout.html" %}

{% set serviceName = 'Submit learner data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}


{% block page_scripts %}
<script>
	{% include './frontend-js/ilr-upload.js' %}
</script>
{% endblock %}

{% block content %}
<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-box-highlight">
				<h1 class="heading-large">
					Your Earnings adjustment statement has been updated
				</h1>
			</div>	
			
			<h2 class="heading-medium">What happens next?</h2>
			
			{% if data['email-confirmation'] %}
			<p>You will receive an email notification once your data has been processed.</p>
			{% endif %}

			

			<p>
		If we receive no further data from your organisation in return period 6, your funding calculation will be based on the this data.
	</p>
			<p>
		If there is a problem with your funding calculation <a href="#">let us know</a>.
	</p>
			<h3 class="heading-medium">
		Other data submissions
	</h3>
			<p>You can <a href="/version-5/choose-submission">submit an Individualised Learner Record</a>.</p>

			<!-- <p><a class="button" href="data-submissions" role="button" id="upload-complete-button">Finished</a></p> -->
		</div>

		<div class="column-third">

		</div>
	</div>
</main>
{% endblock %}