{% extends "./layout.html" %}

{% set serviceName = 'Submit learner data' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				<span class="heading-secondary">Individualised Learner Record (ILR) submission</span>
				<span class="visually-hidden"> for </span>
				{% include './_return-period-text.html' %}
			</h1>

			{% if data['ilr-submission-status'] == "processed" %}
			{% include './includes/_ilr-submission-details--processed.html' %}
			{% elif data['ilr-submission-status'] == "processing" %}
			{% include './includes/_ilr-submission-details--processing.html' %}
			{% endif %}
		</div>

		<div class="column-one-third">
			{% include './includes/_return-period-info.html' %}

			{% include './includes/_file-details.html' %}

		</div>
	</div>
</main>
{% endblock %}