{% extends "layout.html" %}

{% block page_title %}
Add a claim for other funding (EAS)
{% endblock %}

{% block service_name %}
Add a claim for other funding (EAS)
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}

	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				<span class="heading-secondary">Add a new claim</span>
				Which type of claim is this?
			</h1>

			<form action="input-values">
				<div class="form-group">
					{% if data['programme'] == '2' %}
					<!-- Apprenticeships for starts before 1 May 2017 -->
					{% set categories = [{
						title: "Training (excluding English \& Maths)",
						id: 1
					},
					{
						title: "Additional payments for providers",
						id: 2
					},
					{
						title: "Additional payments for employers",
						id: 3
					}] %}

					{% elseif data['programme'] == 2 %}
					<!-- Apprenticeships for starts on or after 1 May 2017 -->
					{% set categories = [{
						title: "16 to 18 levy contracted apprenticeships",
						id: 1
					},
					{
						title: "adult levy contracted apprenticeships",
						id: 2
					}] %}

					{% elseif data['programme'] == 3 or data['programme'] == 4 %}
					<!-- Apprenticeships for starts from 1 May 2017 (non-procured, non-levy contracts) -->
					{% set categories = [{
						title: "16 to 18 non-levy contracted apprenticeships",
						id: 1
					},
					{
						title: "adult non-levy contracted apprenticeships",
						id: 2
					}] %}

					{% elseif data['programme'] == 5 %}
					<!-- 16 to 18 traineeships (not funded through a 16 to 19 contract) -->
					{% set categories = [{
						title: "16 to 18 traineeships",
						id: 1
					},
					{
						title: "16 to 19 traineeships bursary",
						id: 2
					}] %}

					{% elseif data['programme'] == 6 or data['programme'] == 7 %}
					<!-- Adult education – traineeships and ‘other learning’ (non-procured provision) -->
					{% set categories = [{
						title: "19 to 24 traineeships",
						id: 1
					},
					{
						title: "AEB – other learning (note this is formula funded AEB only)",
						id: 2
					}] %}

					{% elseif data['programme'] == 8 %}
					<!-- Advanced Learner Loans -->
					{% set categories = [{
						title: "Advanced Learner Loans bursary",
						id: 1
					}] %}
					{% endif %}
					{% for category in categories %}
					<div class="multiple-choice">
						<input id="radio-{{category.id}}" type="radio" name="category" value="{{data['programme']}}-{{category.id}}" required>
						<label for="radio-{{category.id}}">{{category.title}}</label>
					</div>
					{% endfor %}
				</div>

				<input type="submit" value="Continue" class="button">
			</form>
		</div>

		<div class="column-third">
		</div>
	</div>
</main>

{% endblock %}