{% extends "layout.html" %}

{% block page_title %}
Add a claim for other funding (EAS)
{% endblock %}

{% block service_name %}
Add a claim for other funding (EAS)
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}

	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Add funding claim(s)
			</h1>
		</div>
	</div>

	<form method="post">
		{% set categories = ["Apprenticeships for starts before 1 May 2017", "Apprenticeships for starts on or after 1 May 2017","Apprenticeships for starts from 1 May 2017 (non-procured, non-levy contracts)","Apprenticeships funded under procured contracts for non-levy contracts","16 to 18 traineeships (not funded through a 16 to 19 contract)","Adult education – traineeships and ‘other learning’ (non-procured provision)", "Adult education – traineeships and ‘other learning’ (procured provision from 1 November 2017)","Advanced Learner Loans"] %}

		<table>
			<thead>
				<tr>
					<th>
						Claim category
					</th>
					<th>
						Month
						<span class="form-hint">
							E.g. January
						</span>
					</th>
					<th>
						Amount
						<span class="form-hint">
							E.g. 23045.79
						</span>
					</th>
				</tr>
			</thead>
			{% set claimCount = data['claim-count'] | int %}
			{% if not data['claim-count'] or claimCount === 0 %}
			<tr>
				<td colspan="3" style="text-align:center">
					You have not added any claims yet
				</td>
			</tr>
			{% else %}
			{% for claim in range(0,claimCount) %}
			{% set i = loop.index %}
			<tr>
				<td>
					<select class="form-control form-control-3-4" name="eas-claim-{{loop.index}}-category">
						{% for category in categories %}
						<option {{"selected" if data['eas-claim-'+i+'-category'] == category}}>{{category}}</option>
						{% endfor %}
					</select>
				</td>
				<td width="170">
					{% set months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %}
					<select class="form-control form-control-3-4" name="eas-claim-{{i}}-month">
						{% for month in months %}
						<option value="{{month}}" {{"selected" if data['eas-claim-'+i+'-month'] == month}}>{{month}}</option>
						{% endfor %}
					</select>
				</td>
				<td>
					<div class="govuk-currency-input__inner">
						<span class="govuk-currency-input__inner__unit">£</span>
						<input class="govuk-currency-input__inner__input form-control form-control-3-4" aria-label="Enter amount in pounds" name="eas-claim-{{loop.index}}-value" data-non-numeric="" pattern="[0-9]\d*(\.\d+)?" type="number" value="{{data['eas-claim-'+loop.index+'-value']}}">
					</div>
				</td>
			</tr>
			{% endfor %}
			{% endif %}

			<tr>
				<td colspan="3">
					{% if not data['claim-count'] or claimCount === 0 %}
					{% set claimCount = 1 %}
					{% else %}
					{% set claimCount = (claimCount + 1) %}
					{% endif %}
					<input type="hidden" name="claim-count" value="{{claimCount}}">
					<input type="submit" class="button button-secondary" value="Add a{{ 'nother' if claimCount > 1}} claim" name="add-claim">
				</td>
			</tr>
		</table>

		<br>

		<input type="hidden" name="claim-count" value="{{data['claim-count'] or 1}}">

		<div class="grid-row">
			<div class="column-two-thirds">
				<h2 class="heading-medium">
					Finished adding claims?
				</h2>
				<p>
					If you have no further claims to add to your Earnings adjustment statement, you can save your changes and finish.
				</p>
				<div class="form-group">
					<input type="submit" class="button" value="Save and continue" name="save-finish">
				</div>
			</div>
		</div>
	</form>
</main>

{% endblock %}