{% extends "layout.html" %}

{% block page_title %}
Submit learner data
{% endblock %}

{% block service_name %}
Submit learner data
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Your data was not submitted
			</h1>

			<p>
				The file you uploaded has not been submitted for processing.
			</p>
			<p>
				Any data contained in the file has not been used to calculate your organisation's funding for this return period.
			</p>

			<p>
				You can:
			<p></p>
			<ul class="list list-bullet">
				<li><a href="upload-ilr-file">check your data for errors</a></li>
				<li>read the <a href="https://www.gov.uk/government/publications/ilr-guides-and-templates-for-2017-to-2018#how-to-submit-an-ilr-data-return">ILR submission guidance</a></li>
			</ul>
		</div>

		<div class="column-third">
			{% include './includes/_return-period-info.html' %}
		</div>
	</div>
</main>

{% endblock %}