{% extends "../layout.html" %}

{% set serviceName = 'Submit learner data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}


{% block page_scripts %}
{% endblock %}

{% block content %}
<main id="content" role="main">
	{% include '../_common/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Submit your data
			</h1>

			{% if data['ilr-status'] == 'errors' %}
			<div class="error-summary">
				<h2 class="heading-medium">Your data has errors:</h2>

				<br>

				<ul class="list list-bullet">
					<li>
						<h3 class="heading-small error-summary-heading">
							data required to calculate your funding is missing
						</h3>
						<p>
							<a href="https://www.gov.uk/government/publications/ilr-guides-and-templates-for-2017-to-2018#how-to-submit-an-ilr-data-return">What data is required for each learner</a>
						</p>
					</li>

					<li>
						<h3 class="heading-small">
							the file is not formatted correctly
						</h3>
						<p>
							<a href="https://www.gov.uk/government/publications/ilr-guides-and-templates-for-2017-to-2018#how-to-submit-an-ilr-data-return">How to format your ILR data file correctly</a>
						</p>
					</li>
				</ul>

				<p class="error-summary-list">
					<a href="error-report">View more detail about the errors</a>.
				</p>
			</div>
			{% else %}
			<div class="success-summary">
				<h3 class="heading-medium">Your data has no errors.</h3>
				<p>There may be warnings to address about your data. <a href="#">Download the error report (CSV, 87kB)</a>. </p>
			</div>
			{% include './includes/_file-details.html' %}
			{% endif %}

			<form method="post">
				<div class="form-group">
					<fieldset>

						<legend>
							<h3 class="heading-medium">
								Do you want to submit this data?
							</h3>
							
						</legend>

						<div class="multiple-choice">
							<input id="radio-inline-1" type="radio" name="submit-file" value="true">
							<label for="radio-inline-1">Yes, I want to submit this data</label>
						</div>
						<div class="multiple-choice">
							<input id="radio-inline-2" type="radio" name="submit-file" value="false">
							<label for="radio-inline-2">No, I want to check the data again</label>
						</div>

					</fieldset>
				</div>

				<div class="form-group">
					<input class="button" type="submit" role="button" id="upload-complete-button" value="Continue">
				</div>
			</form>
		</div>

		<div class="column-third">

		</div>
	</div>
</main>
{% endblock %}