{% extends "../layout.html" %}

{% set serviceName = 'Submit learner data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
<script>
	{% include '../frontend-js/ilr-upload.js' %}
</script>
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include '../_common/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">			
			<h1 class="heading-large">
				Check learner data
			</h1>
			
						<p>Use our error validation tool to check your data before you submit your ILR file.</p>
			
		
			
			<p>Make sure:</p>
			<ul class="list list-bullet">
				<li>learner data is entered correctly</li>
				<li>the file is an <abbr title="Extensible Markup Language">XML</abbr> file format or a compressed ZIP file</li>
			</ul>
<p>You can check your data for errors multiple times.</p>
			<div class="panel panel-border-wide">
							<p>
								If any errors or warnings are found in your data then funding amounts may not be calculated correctly.
							</p>
							</div>
						
			<form method="post" id="file-submission">
				<div id="upload-v2">
					
					
					
					<div id="upload-select-area">
						<label for="upload" class="button" role="button">
							<span class="">Select your file</span>
						</label>
						<input accept="text/xml" id="upload" class="choose-file" name="file-upload" aria-controls="progress-container" aria-required="true" type="file">
					</div>

					<div id="file-details" class="hidden">
						<div class="info-summary">
							<h3 class="heading-medium">
								Selected file
							</h3>
							<p>
								<span class="file-name"></span>
								<br>
								<a id="change-file" href="#change">Change file</a>
							</p>
						</div>

						<div id="submit-file-area">
							<input type="hidden" name="ilr-submission-status" value="processed">
							<input type="hidden" name="file-date" value="">

							<input type="submit" class="button" name="confirm-upload" value="Check file">
						</div>
					</div>

					<div id="uploading-progress" class="hidden">
						<img id="loading-spinner" src="/public/images/loading-spinner.gif" width="40px">
						<p>Uploading <span class="file-name"></span></p>
						<p>Estimated time remaining: 14 minutes.</p>
					</div>
				</div>
			</form>
		</div>

		<div class="column-one-third">
			{% include './includes/_return-period-info.html' %}
		</div>
	</div>
</main>

{% endblock %}