{% extends "layout-account.html" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
	items: [
	{
		text: "Home",
		href: "account-home"
	},
	{
		text: "Finance"
	}
	]
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
	Finance
</h1>

<div class="govuk-grid-row app-finance-mini-box--v3__wrapper">
	<div class="govuk-grid-column-one-third app-finance-mini-box__item">
		<div class="app-finance-mini-box app-finance-mini-box--subtle">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-2">
				Current funds
			</h2>

			<span class="app-finance-mini-box__figure">
				{% if data['scenario'] != 'b' %}
				£28,010
				{% else %}
				£9,010
				{% endif %}
			</span>
		</div>
	</div>

	<div class="govuk-grid-column-one-third app-finance-mini-box__item">
		<div class="app-finance-mini-box app-finance-mini-box--subtle">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-2">
				Funds spent in the last 12 months
			</h2>

			<span class="app-finance-mini-box__figure govuk-!-margin-top-2">
				£17,220
			</span>
		</div>
	</div>
</div>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">
	Estimates
</h2>

<div class="govuk-grid-row app-finance-mini-box--v3__wrapper">
	<div class="govuk-grid-column-one-third app-finance-mini-box__item">
		<div class="app-finance-mini-box">
			<span class="app-finance-mini-box__figure app-finance-mini-box__figure--blue">
				{% if data['scenario'] != 'b' %}
				£43,930
				{% else %}
				£12,200
				{% endif %}
			</span>

			<span class="app-finance-mini-box__description">
				Total funding for the next 12 months (based on funds entering your Apprenticeship service account, including the 10% top up)
			</span>
		</div>
	</div>

	<div class="govuk-grid-column-one-third app-finance-mini-box__item">
		<div class="app-finance-mini-box">
			<span class="app-finance-mini-box__figure app-finance-mini-box__figure--light-blue">
				£20,750
			</span>

			<span class="app-finance-mini-box__description">
				Planned spending for the next 12 months
			</span>
		</div>
	</div>

	{% if data['scenario'] != 'b' %}
	<div class="govuk-grid-column-one-third app-finance-mini-box__item">
		<div class="app-finance-mini-box">
			<span class="app-finance-mini-box__figure app-finance-mini-box__figure--red">
				£2,650
			</span>

			<span class="app-finance-mini-box__description">
				Funds due to expire in December 2019
				<br class="govuk-!-margin-bottom-1">
				<a href="#">Read more about expired funds</a>
			</span>
		</div>
	</div>
	{% endif %}
</div>

<p class="govuk-inset-text govuk-!-font-size-16">
	This is a new feature – your <a href="#">feedback</a> will help us improve it.
</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title=" View transactions" href="#">
				View transactions 
			</a>
		</h2>
		<p>
			View payments made into and out of your apprenticeship service account. 
		</p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Download transactions" href="#">
				Download transactions
			</a>
		</h2>
		<p>
			Download your financial transactions within a specific date range.
		</p>
	</div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Funding projection" href="#">
				Funding projection
			</a>
		</h2>
		<p>
			View funding projection to plan your future spending.
		</p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Download transactions" href="#">
				Transfers
			</a>
		</h2>
		<p>
			Connect with other employers and send or receive transfer funds. 
		</p>
	</div>
</div>
{% endblock %}
