{% extends "layout.html" %}

{% block page_title %}
Submit an ILR - GOV.UK
{% endblock %}

{% block service_name %}
Submit an ILR
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include version + '/includes/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-large">
				Individualised Learner Records (<abbr title="Individualised Learner Record">ILR</abbr>)
			</h2>
			
			<aside role="complementary" class="grid-row">
				<nav class="column-full" role="navigation" aria-label="Pages in this guide">
					<ol class="column-half list list-number">
						<li>
							Overview
						</li>
						<li>
							<a href="#">Dates and deadlines</a>
						</li>
						<li>
							<a href="#">And the next section next</a>
						</li>
					</ol>
					<ol class="column-half list list-number" start="4">
						<li>
							<a href="#">Another section here</a>
						</li>
						<li>
							<a href="#">Last but one</a>
						</li>
						<li>
							<a href="#">The last section comes last</a>
						</li>
					</ol>
				</nav>
			</aside>
			
			<hr>
			
			<h3 class="heading-medium">Return period 1</h3>
			<div class="panel panel-border-wide">
				<p>Return period 1 (R06) runs from Wednesday 23 August 2017 09:00 until Wednesday 06 September 2017 18:00.</p>
			</div>
			
			<table>
				<thead>
					<tr>
						<th>Event</th>
						<th>Start</th>
						<th>End</th>
					</tr>
				</thead>

				<tbody>				
					<tr>
						<td>Release</td>
						<td>Monday 07 August 2017</td>
						<td>Wednesday 09 August 2017</td>
					</tr>

					<tr>
						<td>Learning aims reference data update</td>
						<td>Tuesday 08 August 2017</td>
						<td>Tuesday 08 August 2017</td>
					</tr>

					<tr>
						<td>Optional Release</td>
						<td>Thursday 17 August 2017</td>
						<td>Tuesday 22 August 2017</td>
					</tr>

					<tr>
						<td>Learning aims reference data update</td>
						<td>Monday 21 August 2017</td>
						<td>Monday 21 August 2017</td>
					</tr>
				</tbody>
			</table>
			
			<h3 class="heading-medium">Return period 2</h3>
			<div class="panel panel-border-wide">
				<p>Return period 2 (R02) runs from Wednesday 23 August 2017 09:00 until Wednesday 06 September 2017 18:00.</p>
			</div>
			<table>
				<thead>
					<tr>
						<th>Event</th>
						<th>Start</th>
						<th>End</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>Return period 2 Release</td>
						<td>Friday 15 September 2017</td>
						<td>Sunday 17 September 2017</td>
					</tr>

					<tr>
						<td>Return period 2 Learning aims reference data update</td>
						<td>Friday 15 September 2017</td>
						<td>Friday 15 September 2017</td>
					</tr>

					<tr>
						<td>Return period 2 Learning aims reference data update</td>
						<td>Thursday 21 September 2017</td>
						<td>Thursday 21 September 2017</td>
					</tr>

					<tr>
						<td>Return period 2 2017 to 2018</td>
						<td>Friday 22 September 2017 09:00</td>
						<td>Thursday 05 October 2017 18:00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>

{% endblock %}