{% extends "../layout.html" %}

{% set serviceName = 'Submit learner data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
<script>
	{% include '../frontend-js/ilr-upload.js' %}
</script>
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include '../_common/_phase-banner.html' %}
	
	<div class="grid-row">
		<div class="column-two-thirds" id="uploading-content">
			<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>
			
			<h1 class="heading-large">
				Your data is being checked
			</h1>

			<img id="loading-spinner" src="/public/images/loading-spinner.gif" width="40px">
			
			<p>
				Estimated time remaining: <span id="countdown">14 minutes</span>
			</p>

			<form method="post" id="uploading-form"></form>
		</div>
	</div>
</main>

{% endblock %}