{% extends "./layout.html" %}

{% set serviceName = 'Submit ILR data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
<script>
	{% include './frontend-js/ilr-upload.js' %}
</script>
{% endblock %}

{% block content %}
<!-- {% include './includes/_header-nav.html' %} -->

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">		
			<h2 class="heading-large">
				<span class="heading-secondary">Add a learner</span>
				About the learner's course
			</h2>

			<form action="add-learner-lldd-question">
				<div class="form-group">
					<fieldset>
						<div class="form-group">
							<label class="form-label" for="full-name-f1">House number</label>
							<input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
						</div>

						<div class="form-group">
							<label class="form-label" for="full-name-f1">Postcode</label>
							<input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
						</div>
					</fieldset>
				</div>

				<input type="submit" value="Continue" class="button">
			</form>
		</div>

		<div class="column-one-third">

		</div>
	</div>
</main>

{% endblock %}