.data-wrap {
	@include govuk-clearfix;
	// margin: 0 (-$govuk-gutter-half);
}

.data {
	width: 100%;

	* {
		color: #fff;
	}

	dl {
		box-sizing: border-box;
		padding: 15px; 
		background: govuk-colour("blue");
		color: white;

		dt {
			display: table-footer-group;
			@include govuk-font($size: 16, $weight: bold);
		}
		dd {
			display: table-header-group;
			@include govuk-font($size: 48, $weight: bold);
		}

		&.current-balance {
			background: govuk-colour("grey-1")
		}
		&.expiring-funds {
			background: govuk-colour("brown")
		}
		&.overdue-completion-payments {
			background: govuk-colour("grey-1")
		}
	}

	@include govuk-media-query($from: tablet) { 
		float: left;
		// width: 50%;
		box-sizing: border-box;
		dd.long {
			font-size: 42px;
			line-height: 50px;
		}
		dd.longer {
			font-size: 32px;
			line-height: 50px;
		}
	}

	@include govuk-media-query($from: desktop) {
		// width: 33.33%;
		dd.long {
			font-size: 48px;
			line-height: 50px;
		}
		dd.longer {
			font-size: 42px;
			line-height: 50px;
		}
	}
}

#page-transactions .govuk-grid-column-one-half .data {
	dl {
		position: relative;
		min-height: 170px;
		padding-bottom: 50px;
	}
}