{% if data['loggedIn'] === 'true' %}
{% extends "layout-account.html" %}
{% else %}
{% extends "./layout-estimator.html" %}
{% set serviceName = "Find out the cost of an apprenticeship" %}
{% endif %}

{% block beforeContent %}
{% include 'includes/back-link.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% if data["apprenticeship-added"] === 'true' %}
		<div class="govuk-inset-text govuk-inset-text--success">
			Apprenticeships added.
		</div>
		{% endif %}

		{% if data["apprenticeship-removed"] === 'true' %}
		<div class="govuk-inset-text govuk-inset-text--warning">
			Apprenticeships removed.
		</div>
		{% endif %}

		<h1 class="govuk-heading-xl">
			Estimated cost of your chosen apprenticeships
		</h1>
	</div>
</div>

{% if data['annual-payroll'] >= 36000000 %}
{% set apprenticeshipCost = 9000 %}

{% set totalCost = 0 %}
{% for i in range(1, 999) %}
{% if data['apprenticeship_' + i + '-name'] and data['apprenticeship_' + i + '-count'] %}
{% set totalCost = (data['apprenticeship_' + i + '-count'] * apprenticeshipCost) + totalCost %}
{% endif %}
{% endfor %}

<div class="govuk-grid-row govuk-!-margin-bottom-4">
	<div class="govuk-grid-column-one-third">
		<div class="data">
			<dl class="data--blue">
				<dt class="data__data--xl">
					Amount you pay
				</dt>

				<dd class="data__data--xl">
					{% set coinvestment = totalCost - data['total-levy'] %}
					<abbr title="£{{ (coinvestment | numeral().format('0,0')) if coinvestment > 0 else "0" }}">
						£{{ (coinvestment | numeral().format('0,0.0a')) if coinvestment > 0 else "0" }}
					</abbr>
				</dd>
			</dl>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data">
			<dl class="data--white">
				<dt class="data__data--xl">
					Costs covered by your levy
				</dt>

				<dd class="data__data--xl">
					<abbr title="£{{totalCost | numeral().format('0,0')}}">£{{totalCost | numeral().format('0,0.0a')}}</abbr>
				</dd>
			</dl>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data">
			<dl class="data--grey">
				<dt class="data__data--xl">
					Unspent levy
				</dt>

				<dd class="data__data--xl">
					{% set unspent = data['total-levy'] - totalCost %}
					<abbr title="£{{ (unspent | numeral().format('0,0')) if unspent > 0 else "0" }}">
						£{{ (unspent | numeral().format('0,0.0a')) if unspent > 0 else "0" }}
					</abbr>
				</dd>
			</dl>
		</div>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{{ govukDetails({
			summaryText: "More information",
			html: "<p>
				Payments for apprenticeships are paid monthly from your apprenticeship service account.
			</p>

			<p>
				Based on the information you’ve supplied your payments will be £" + (data['total-levy']/12) | numeral().format('0,0') + " per month.
			</p>

			<p>
				For a more accurate break down of your figures you should create an account on the apprenticeship service.
			</p>"
		}) }}
	</div>
</div>

{% else %}
{% set apprenticeshipCost = 900 %}
{% set totalCost = 0 %}
{% for i in range(1, 999) %}
{% if data['apprenticeship_' + i + '-name'] and data['apprenticeship_' + i + '-count'] %}
{% set totalCost = (data['apprenticeship_' + i + '-count'] * apprenticeshipCost) + totalCost %}
{% endif %}
{% endfor %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
		<div class="data">
			<dl class="data--green">
				<dt class="data__data--xl">
					Amount you pay
				</dt>

				<dd class="data__data--xl">
					£{{totalCost | numeral().format('0,0') }}
				</dd>
			</dl>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data">
			<dl class="data--blue">
				<dt class="data__data--xl">
					Amount government pays
				</dt>

				<dd class="data__data--xl">
					£{{(totalCost // 10 * 90) | numeral().format('0,0')}}
				</dd>
			</dl>
		</div>
	</div>
</div>
{% endif %}

<div class="govuk-grid-row govuk-!-margin-top-8">
	<div class="govuk-grid-column-full">
		<h2 class="govuk-heading-m">
			Apprenticeships in this estimate
		</h2>

		<table class="govuk-table govuk-table--font-small">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Apprenticeship</th>
					<th class="govuk-table__header govuk-table__header--numeric" scope="col">Number <span class="govuk-visually-hidden">of apprentices</span></th>
					{% if data['annual-payroll'] >= 36000000 %}
					<th class="govuk-table__header govuk-table__header--numeric" scope="col">Start date</th>
					{% endif %}
					<th class="govuk-table__header govuk-table__header--numeric" scope="col">Cost</th>
					<th class="govuk-table__header" scope="col"></th>
					<th class="govuk-table__header" scope="col"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% macro apprenticeship(id, attribute) %}
				{{ data['apprenticeship_' + id + '-' + attribute] }}
				{% endmacro %}

				{% for i in range(1, 999) %}
				{% set el = 'apprenticeship_' + i %}
				{% if data[el + '-name'] and data[el + '-count'] %}

				{% set name = apprenticeship(i,'name').split("|")[0] %}
				{% set level = apprenticeship(i,'name').split("|")[1] %}
				{% set standard = apprenticeship(i,'name').split("|")[2] %}
				{% set id = apprenticeship(i,'name').split("|")[3] %}
				{% set startDate = apprenticeship(i,'name').split("|")[4] %}

				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">
						{{name}}{{" (Standard)" if standard === 'true'}}<br>
						<span class="govuk-!-font-weight-regular">Level: {{level}}</span><br>
						<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/Apprenticeship/{{'Standard' if standard === 'true' else 'Framework'}}/{{id}}" target="_blank" class="govuk-!-font-weight-regular">More details</a>
					</th>
					<td class="govuk-table__cell govuk-table__cell--numeric">{{ apprenticeship(i,'count') }}</td>
					{% if data['annual-payroll'] >= 36000000 %}
					<td class="govuk-table__cell govuk-table__cell--numeric">{{data['startDate_' + i + '-month']}} {{data['startDate_' + i + '-year']}}</td>
					{% endif %}
					<td class="govuk-table__cell govuk-table__cell--numeric">£{{ (apprenticeship(i,'count') * apprenticeshipCost) | numeral().format('0,0')}}</td>
					<td class="govuk-table__cell">
						<a href="edit-apprenticeship?edit-apprenticeship_id={{i}}">Edit</a>
					</td>
					<td class="govuk-table__cell">
						<a href="?apprenticeship-removed=true&apprenticeship-added=false&apprenticeship_{{i}}-count=&apprenticeship_{{i}}-name=">Remove</a>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>

		<p class="govuk-!-margin-bottom-0">
			<a href="add-apprenticeship" class="govuk-button govuk-button--secondary">Add more apprenticeships to this estimate</a>
		</p>
	</div>
</div>

{% if data['loggedIn'] != 'true' %}
<hr class="govuk-section-break govuk-section-break--xl">

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m">
			Register to access funds to pay for these apprenticeships
		</h2>
		<p>
			If you are ready to register on the apprenticeship service, you need to set up your account.
		</p>

		<p class="govuk-!-margin-bottom-0">
			<a href="https://manage-apprenticeships.service.gov.uk/" target="_blank" class="govuk-button govuk-!-margin-bottom-2">Register on the apprenticeship service</a>
		</p>

		<p class="govuk-!-font-size-14">
			This link will open in a new tab
		</p>
	</div>
</div>
{% endif %}
{% endblock %}