{% if data['loggedIn'] === 'true' %}
{% extends "layout-account.html" %}
{% else %}
{% extends "./layout-estimator.html" %}
{% endif %}

{% block beforeContent %}
{% include 'includes/back-link.html' %}
{% endblock %}

{% set serviceName = "Find out the cost of an apprenticeship" %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% if data["apprenticeship-added"] === 'true' %}
		<div class="govuk-inset-text govuk-inset-text--success">
			Apprenticeship added.
		</div>
		{% endif %}

		{% if data["apprenticeship-removed"] === 'true' %}
		<div class="govuk-inset-text govuk-inset-text--warning">
			Apprenticeship removed.
		</div>
		{% endif %}

		<h1 class="govuk-heading-xl">
			Estimated cost of your chosen apprenticeships
		</h1>
	</div>
</div>

{% if data['annual-payroll'] >= 36000000 %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
		<div class="data">
			<dl class="data--green">
				<dt class="data__data--xl">
					Amount you pay
				</dt>

				<dd class="data__data--xl">
					£0
				</dd>
			</dl>
		</div>
	</div>

	{% set totalCost = 0 %}
	{% for i in range(1, 999) %}
	{% if data['apprenticeship_' + i + '-name'] and data['apprenticeship_' + i + '-count'] %}
	{% set totalCost = (data['apprenticeship_' + i + '-count'] * 9000) + totalCost %}
	{% endif %}
	{% endfor %}

	<div class="govuk-grid-column-one-third">
		<div class="data">
			<dl class="data--blue">
				<dt class="data__data--xl">
					Costs covered by your levy
				</dt>

				<dd class="data__data--xl">
					£{{totalCost}}
				</dd>
			</dl>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data">
			<dl class="data--grey">
				<dt class="data__data--xl">
					Unspent levy
				</dt>

				<dd class="data__data--xl">
					£12,020
				</dd>
			</dl>
		</div>
	</div>
</div>

{% else %}

{% set totalCost = 0 %}
{% for i in range(1, 999) %}
{% if data['apprenticeship_' + i + '-name'] and data['apprenticeship_' + i + '-count'] %}
{% set totalCost = (data['apprenticeship_' + i + '-count'] * 900) + totalCost %}
{% endif %}
{% endfor %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
		<div class="data">
			<dl class="data--green">
				<dt class="data__data--xl">
					Amount you pay
				</dt>

				<dd class="data__data--xl">
					£{{totalCost}}
				</dd>
			</dl>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data">
			<dl class="data--blue">
				<dt class="data__data--xl">
					Amount government pays
				</dt>

				<dd class="data__data--xl">
					£{{totalCost // 10 * 90}}
				</dd>
			</dl>
		</div>
	</div>
</div>
{% endif %}

<div class="govuk-grid-row govuk-!-margin-top-8">
	<div class="govuk-grid-column-full">
		<h2 class="govuk-heading-l">
			Apprenticeships in this estimate
		</h2>

		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Apprenticeship</th>
					<th class="govuk-table__header govuk-table__header--numeric" scope="col">Number of apprentices</th>
					{% if data['annual-payroll'] >= 36000000 %}
					<th class="govuk-table__header" scope="col">Start date</th>
					{% endif %}
					<th class="govuk-table__header govuk-table__header--numeric" scope="col">Cost</th>
					<th class="govuk-table__header" scope="col"></th>
					<th class="govuk-table__header" scope="col"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% macro apprenticeship(id, attribute) %}
				{{ data['apprenticeship_' + id + '-' + attribute] }}
				{% endmacro %}

				{% for i in range(1, 999) %}
				{% set el = 'apprenticeship_' + i %}
				{% if data[el + '-name'] and data[el + '-count'] %}
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">{{ apprenticeship(i,'name') }}</th>
					<td class="govuk-table__cell govuk-table__cell--numeric">{{ apprenticeship(i,'count') }}</td>
					{% if data['annual-payroll'] >= 36000000 %}
					<td class="govuk-table__cell">startDate</td>
					{% endif %}
					<td class="govuk-table__cell govuk-table__cell--numeric">£{{ apprenticeship(i,'count') * 900}}</td>
					<td class="govuk-table__cell"><a href="#">Edit</a></td>
					<td class="govuk-table__cell">
						<a href="?apprenticeship-removed=true&apprenticeship-added=false&apprenticeship_{{i}}-count=&apprenticeship_{{i}}-name=">Remove</a>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>

		<p class="govuk-!-margin-bottom-0">
			<a href="add-apprenticeship" class="govuk-button govuk-button--secondary">Add more apprenticeships to this estimate</a>
		</p>
	</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m">
			Register to access funds to pay for these apprenticeships
		</h2>
		<p>
			If you are ready to register on the apprenticeship service, you need to set up your account.
		</p>

		<p>
			<a href="https://manage-apprenticeships.service.gov.uk/" target="_blank" class="govuk-button">Register on the apprenticeship service</a>
		</div>
	</div>
	{% endblock %}