{% if data['loggedIn'] === 'true' %}
{% extends "layout-account.html" %}
{% else %}
{% extends "./layout-estimator.html" %}
{% endif %}

{% block beforeContent %}
{% include 'includes/back-link.html' %}
{% endblock %}

{% set serviceName = "Find out the cost of an apprenticeship" %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% if data['annual-payroll'] >= 36000000 %}
		
		<h1 class="govuk-heading-xl">
			You have to pay the Apprenticeship levy
		</h1>

		{% set englishPercentage = data['english-percentage'] or '100' %}
		{% set monthlyLevyPayment = (((data['annual-payroll'] * 0.005)-15000)/12) | round(0, "floor") %}
		{% set monthlyLevyAmount = (monthlyLevyPayment * englishPercentage / 100 * 1.1) | round(0, "ceil") %}
		{% set annualLevyAmount = (monthlyLevyAmount * 12) | round(0) %}

		<p>
			You’ll receive £{{ annualLevyAmount | numeral().format('0,0') }} of levy credit per year. Any unused credit will expire 24 months after it arrives in your account.
		</p>

		{% from "details/macro.njk" import govukDetails %}
		{{ govukDetails({
			summaryText: "How this is worked out",
			html: "
			<p>
				The amount you have available to spend is calculated on a monthly basis as follows:
			</p>

			<p>
				Your levy is 0.5% of your gross annual payroll, less a £15,000 allowance. The balance is then divided by 12 and rounded down to the nearest pound. This gives a monthly levy payment of £" + monthlyLevyPayment | numeral().format('0,0') + " (rounded down).
			</p>

			<p>
				" + englishPercentage + "% of your pay bill goes to employees in England, so £" + monthlyLevyPayment | numeral().format('0,0') + " is multiplied by " + englishPercentage + "%. The government tops that up by 10%, which gives you £" + monthlyLevyAmount | numeral().format('0,0') + " (rounded up) to spend each month.
			</p>"
		}) }}

		{% else %}

		<h1 class="govuk-heading-xl">
			Government will pay 90% of your apprenticeship costs
		</h1>

		<p>
			Given your annual paybill is less than £3 million, you won't have to pay the apprenticeship levy.
		</p>

		<p>
			This means that you will only have to pay 10% toward the cost of apprenticeship training and the government will pay the rest.
		</p>
		{% endif %}

		<p>
			Next, you'll need to add some apprenticeships to find out how much they will cost.
		</p>

		<a href="add-apprenticeship?total-levy={{annualLevyAmount}}" class="govuk-button">
			Add apprenticeships to your estimate
		</a>
	</div>
</div>
{% endblock %}