{% extends "layout.html" %}

{% block page_title %}
Submit learner data
{% endblock %}

{% block service_name %}
Submit learner data
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}

	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Done
			</h1>
		</div>
	</div>
</main>

{% endblock %}