{% extends "./layout.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="breadcrumbs">
		<ol>
			<li>
				<a href="https://www.gov.uk/">Home</a>
			</li>

			<li>
				<a href="https://www.gov.uk/education">Education, training and skills</a>
			</li>

			<li class="parent-breadcrumb">
				<a href="https://www.gov.uk/education/further-and-higher-education-skills-and-vocational-training">Further and higher education, skills and vocational training</a>
			</li>

			<li>
				<a class="breadcrumb-for-current-page" href="#content">{{serviceName}}</a>
			</li>
		</ol>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				Claim your ESFA funding
			</h1>
			
			<p>
				A sentence or two in this area here describing what this service allows the user to do.
			</p>

			<ul class="list list-bullet">
				<li>Individualised Learner Records (ILR)</li>
				<li>Earnings adjustment statements (EAS)</li>
				<li>Adult Learner Loans</li>
				<li>Funding Claims</li>
				<li>ESF Supplementary Data</li>
			</ul>

			<h2 class="heading-medium">If you're claiming funding for the first time</h2>

			<p>Lorem ipsum dolore ut aute ut dolore cillum laboris irure elit consequat esse ut dolore mollit duis pariatur deserunt ea ad tempor anim.</p>

			<p>Commodo ex cillum in non anim dolor excepteur ut do pariatur et:</p>
			<ul class="list-bullet">
			    <li>non duis reprehenderit nostrud</li>
			    <li>quis esse incididunt in</li>
			    <li>in pariatur culpa</li>
			</ul>

			<h2 class="heading-medium">Sign in to claim your funding</h2>

			<p>You’ll need to sign in with your learning provider account.</p>
			<p>
				<a href="/version-2/login" class="button button-start">Sign in</a>
			</p>


			<h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>
		</div>

		<div class="column-one-third">
			<aside class="govuk-related-items" data-module="track-click" role="complementary">
				<h2 class="heading-medium">
					Claiming funding for your organisation
				</h2>

				<nav role="navigation">
					<ul>
						<li>
							<a href="#">How to return ILR final funding claims to the ESFA</a>
						</li>
						<li>
							<a href="#">Data collection for further education providers</a>
						</li>
						<li>
							<a href="#">Further education funding data</a>
						</li>
						<li>
							<a href="#">ESFA: Inform newsletter</a>
						</li>
					</ul>
				</nav>
			</aside>
		</div>
	</div>
</main>

{% endblock %}
