{% extends "layout-account.html" %}

{% block content %}

<main id="content" role="main">
	{% include './_common/_phase-banner.html' %}

	<br>
	
	<div class="grid-row funding-projection">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				Funding projection
			</h1>
			<p>
				The figures below show the estimated funds that may be available to you for the duration of your apprenticeships.
			</p>

			<details>

				<summary><span class="summary">More information</span></summary>
				<div class="panel panel-border-narrow">
					<p>
						These figures are based on the current information in your account and the data provided by your training provider which is used to calculate funding.
					</p><p>
					</p><p>
						The projection doesn’t include any future apprenticeship starts or apprentices who’ve already started and payment has not yet been made to their training provider. These will be added to the funding projection soon.
					</p>
					<p>
						In the next update of this tool, you’ll be able to estimate how many apprenticeships you could fund in the future - either by transferring any remaining funds to another employer or by taking on more apprentices yourself.
					</p>
				</div>
			</details>

			<br>

			<a class="button" href="/accounts/MWDKDN/forecasting/estimations/start">Estimate apprenticeships you could fund</a>
		</div>

		<div class="column-one-third">
			<div class="govuk-related-items">
				<h3 class="heading-small">Download data as a spreadsheet</h3>
				<div class="form-group">
					<ul class="list list-links">

						<li>
							<a id="apprenticeship_csvdownload" href="/accounts/MWDKDN/forecasting/download-apprenticeships" class="">
								Apprenticeship details in the account projection
							</a>
							<p>
								The download includes the details of apprenticeships used to create this projection
							</p>
						</li>

						<li>
							<a id="projections_csvdownload" href="/accounts/MWDKDN/forecasting/download" class="">
								Account projection table
							</a>
							<p>
								The download includes the details of the data in the table shown on this page
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">
			{% include './_funding-projection-chart.html' %}
		</div>
	</div>

	<h4 class="heading-large">Your account projection</h4>
	<div class="grid-row" id="account-projection">
		<div class="column-two-thirds">
			<p>A month by month projection of your account balance.</p>
			<p>
				<span class="bold">Current Balance: </span> £1,100
			</p>
		</div>
		<div class="column-one-third pending-completion-payments">
			<div class="panel panel-width-thin">
				<p>Overdue completion payments</p>
				<span class="heading-medium">£2,366</span>
				<details>
					<summary>What does this figure mean?</summary>
					<div class="">
						<p>This is the value of your overdue completion payments where the apprenticeships have overrun the planned completion date.</p>
					</div>
				</details>
			</div>
		</div>
	</div>

	<br>

	<h3 class="bold-medium">April 2018 to March 2019</h3>
	<table class="table-font-xsmall balancesheet">
		<thead>
			<tr>
				<th style="width: 60px;">Date</th>
				<th class="numeric" data-original-title="Cost of apprenticeships that have already started and currently being paid for.  This figure also includes any transfers you’ve made. Apprenticeships that have not started or been paid for are not included in this column">
					Cost of training
				</th>
				<th class="numeric" data-original-title="This column shows the total cost of all completion payments due for the month. The completion payment is shown in the month after the apprentice plans to end their apprenticeship. It is 20% of the total cost of each apprenticeship">
					Completion payments
				</th>
				<th class="numeric" data-original-title="These figures are not currently shown in the projection tool, but will be soon. Funds will start to expire from May 2019">
					Expired funds
				</th>
				<th class="numeric" data-original-title="Total of the last month's received levy funds from your PAYE schemes including the 10% top up, which will be updated on the 20th of each month and any transferred funds you've received. The same figure is used throughout the forecast">
					Funds in
				</th>
				<th class="numeric" data-original-title="The estimated funds you have left at the end of the month">
					Balance
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Sep 18</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£0
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£3,300</td>
			</tr>
			<tr>
				<td>Oct 18</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£0
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£4,400</td>
			</tr>
			<tr>
				<td>Nov 18</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£0
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£5,500</td>
			</tr>
			<tr>
				<td>Dec 18</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£0
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£6,600</td>
			</tr>
			<tr>
				<td>Jan 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£0
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£7,700</td>
			</tr>
			<tr>
				<td>Feb 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£0
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£8,800</td>
			</tr>
			<tr>
				<td>Mar 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£0
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£9,900</td>
			</tr>
		</tbody>
	</table>

	<br><br>

	<h3 class="bold-medium">April 2019 to March 2020</h3>
	<table class="table-font-xsmall balancesheet">
		<thead>
			<tr>
				<th style="width: 60px;">Date</th>
				<th class="numeric" data-original-title="Cost of apprenticeships that have already started and currently being paid for.  This figure also includes any transfers you’ve made. Apprenticeships that have not started or been paid for are not included in this column">
					Cost of training
				</th>
				<th class="numeric" data-original-title="This column shows the total cost of all completion payments due for the month. The completion payment is shown in the month after the apprentice plans to end their apprenticeship. It is 20% of the total cost of each apprenticeship">
					Completion payments
				</th>
				<th class="numeric" data-original-title="These figures are not currently shown in the projection tool, but will be soon. Funds will start to expire from May 2019">
					Expired funds
				</th>
				<th class="numeric" data-original-title="Total of the last month's received levy funds from your PAYE schemes including the 10% top up, which will be updated on the 20th of each month and any transferred funds you've received. The same figure is used throughout the forecast">
					Funds in
				</th>
				<th class="numeric" data-original-title="The estimated funds you have left at the end of the month">
					Balance
				</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>Apr 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£0
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£11,000</td>
			</tr>
			<tr>
				<td>May 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£250
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£12,100</td>
			</tr>
			<tr>
				<td>Jun 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£250
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£13,200</td>
			</tr>
			<tr>
				<td>Jul 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£250
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£14,300</td>
			</tr>
			<tr>
				<td>Aug 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£250
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£15,400</td>
			</tr>
			<tr>
				<td>Sep 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£250
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£16,500</td>
			</tr>
			<tr>
				<td>Oct 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£250
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£17,600</td>
			</tr>
			<tr>
				<td>Nov 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£250
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£18,700</td>
			</tr>
			<tr>
				<td>Dec 19</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£250
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£19,800</td>
			</tr>
			<tr>
				<td>Jan 20</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£250
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£20,900</td>
			</tr>
			<tr>
				<td>Feb 20</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£250
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£22,000</td>
			</tr>
			<tr>
				<td>Mar 20</td>
				<td class="numeric">£0</td>
				<td class="numeric">£0</td>
				<td class="numeric">
					£250
				</td>
				<td class="numeric">£1,100</td>
				<td class="numeric">£23,100</td>
			</tr>
		</tbody>
	</table>
</main>

{% endblock %}
