{% extends "./layout-guidance.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include './_common/_phase-banner.html' %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				Manage apprenticeships
			</h1>

			<p class="lede">This service is for organisations that want to take on apprentices.</p>

			<p>Use this service to:</p>

			<ul class="list list-bullet">
				<li>set up and manage apprenticeship training</li>
				<li>pay for apprenticeship training</li>
			</ul>

			<p><a class="button button-start" id="service-start" href="used-service-before">Start</a></p>

			<h2 class="heading-medium">Before you start</h2>

			<ul class="list list-bullet">
				<li>Find out more about <a target="_blank" rel="external" href="https://www.gov.uk/take-on-an-apprentice">employing apprentices</a></li>

				<li>Find out <a target="_blank" rel="external" href="https://www.gov.uk/guidance/manage-apprenticeship-funds">how you can use</a> your apprenticeship account</li>

				<li>Find out about the <a target="_blank" rel="external" href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work">apprenticeship levy</a></li>
			</ul>
		</div>
	</div>
</main>

{% endblock %}
