{% extends "./layout.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="breadcrumbs">
		<ol>
			<li>
				<a href="https://www.gov.uk/">Home</a>
			</li>

			<li>
				<a href="https://www.gov.uk/education">Education, training and skills</a>
			</li>

			<li class="parent-breadcrumb">
				<a href="https://www.gov.uk/education/further-and-higher-education-skills-and-vocational-training">Further and higher education, skills and vocational training</a>
			</li>

			<li>
				<a class="breadcrumb-for-current-page" href="#content">{{serviceName}}</a>
			</li>
		</ol>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				Submit data to the ESFA
			</h1>
			
			<p>Use this service to submit:</p>
			<ul class="list list-bullet">
				<li>Individualised Learner Records (ILR)</li>
				<li>Earnings adjustment statements (EAS)</li>				
			</ul>
			
			<p>You’ll need to sign in with your Identity Management Services (IDAMS) account.</p>
			<p>
				<a href="./login" class="button button-start">Sign in</a>
			</p>


			<h2 class="heading-medium">Before you start</h2>
			<p>
    You need to have an account with the government's <a href="#" rel="external" title="This will open in a new window">Identity Management Services system</a> to use this service.
</p><p>If you do not have an account you can learn <a href="https://www.gov.uk/guidance/how-to-become-an-approved-training-provider-and-bid-for-funding">how to become an approved training provider and bid for funding</a>.</p>
					
				
		</div>

		<!--<div class="column-one-third">
			<aside class="govuk-related-items" data-module="track-click" role="complementary">
				<h2 class="heading-medium">
					Claiming funding for your organisation
				</h2>

				<nav role="navigation">
					<ul>
						<li>
							<a href="#">How to return ILR final funding claims to the ESFA</a>
						</li>
						<li>
							<a href="#">Data collection for further education providers</a>
						</li>
						<li>
							<a href="#">Further education funding data</a>
						</li>
						<li>
							<a href="#">ESFA: Inform newsletter</a>
						</li>
					</ul>
				</nav>
			</aside>
		</div>-->
	</div>
</main>

{% endblock %}
