{% extends version + "/layout.html" %}

{% block service_name %}
Submit your data
{% endblock %}

{% block content %}
<!-- {% include './includes/_header-nav.html' %} -->

<main id="content" role="main">
	{% include version + '/includes/_phase-banner.html' %}

	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<h1 class="heading-xlarge">
		ILR return dates
	</h1>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</main>
{% endblock %}