{% extends "layout-account.html" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
	items: [
	{
		text: "Home",
		href: "account-home"
	},
	{
		text: "Finance"
	}
	]
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3 govuk-!-margin-top-2" id="company-Name">
	Finance
</h1>

<div class="govuk-grid-row" id="page-transactions">
	<div class="govuk-grid-column-one-third">
		<div class="data-wrap">
			<div class="data">
				<dl class="data--purple">
					<dd class="govuk-!-font-size-36 govuk-!-display-block govuk-!-margin-left-0 govuk-!-margin-bottom-1">
						£231,812
					</dd>

					<dt class="govuk-!-display-block">
						available to spend for the next 12 months
					</dt>
				</dl>
			</div>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data-wrap">
			<div class="data">
				<dl class="data--red-border">
					<dd class="govuk-!-font-size-36 govuk-!-display-block govuk-!-margin-left-0 govuk-!-margin-bottom-1">
						£12,650
					</dd>

					<dt class="govuk-!-display-block">
						could expire in <strong>August 2019</strong>
					</dt>
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4" id="page-transactions">
	<div class="govuk-grid-column-one-third">
		<div class="data-wrap">
			<div class="data">
				<dl class="data--grey">
					<dt>
						Total funding expected for the next 12 months:
					</dt>

					<dd class="govuk-!-font-size-36">
						£439,038
					</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data-wrap">
			<div class="data">
				<dl class="data--grey">
					<dt>	
						Planned spending for the next 12 months:
					</dt>

					<dd class="govuk-!-font-size-36">£207,226</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="data-wrap">
			<div class="data">
				<dl class="data--grey">
					<dt>
						Funds spent in the last 12 months:
					</dt>

					<dd class="govuk-!-font-size-36">£170,029</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<h2 class="govuk-heading-m govuk-!-margin-bottom-9">
	Current funds: <span class="govuk-!-font-weight-regular">£280,010</span>
</h2>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title=" View transactions" href="#">
				View transactions 
			</a>
		</h2>
		<p>
			View payments made into and out of your apprenticeship service account. 
		</p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Download transactions" href="#">
				Download transactions
			</a>
		</h2>
		<p>
			Download your financial transactions within a specific date range.
		</p>
	</div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Funding projection" href="#">
				Funding projection
			</a>
		</h2>
		<p>
			View funding projection to plan your future spending.
		</p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Download transactions" href="#">
				Transfers
			</a>
		</h2>
		<p>
			Connect with other employers and send or receive transfer funds. 
		</p>
	</div>
</div>
{% endblock %}
