<p>
	<details>
		<summary><span class="summary">View ILR file details</span></summary>
		<table class="table-font-xsmall">
			<caption class="heading-small">
				ILR file details
			</caption>
			<tbody>
				<tr>
					<td>Learners detected</td>
					<td class="file-name">3,893</td>
				</tr>
				<tr>
					<td>File name</td>
					<td class="file-name">{{data['file-upload']}}</td>
				</tr>
				<tr>
					<td>File size</td>
					<td>209.8kb</td>
				</tr>
				<tr>
					<td>Upload date and time</td>
					<td class="file-date">{{ data['file-date'] }}</td>
				</tr>
				<tr>
					<td>Uploaded by</td>
					<td>{{ data['user-id'] or "Norma Jones" }}</td>
				</tr>
			</tbody>
		</table>
	</details>
</p>