{% extends "./layout.html" %}

{% set serviceName = 'Estimate your ESFA funding' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block content %}
<!-- {% include './includes/_header-nav.html' %} -->

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="summary">
				<fieldset>		
					<div class="form-group">
						<legend>
							<h1 class="heading-large">How many learners are enrolled on each type of course?</h1>
						</legend>

						{% set courseTypes = 
							[
							'16-19 (excluding Apprenticeships) funding model',
							'Other 16-19 funding model',
							'Adult skills funding model',
							'Community Learning funding model',
							'ESF funding model',
							'Other Adult funding model',
							'Apprenticeships from 1 May 2017',
							'Available for non-funded learning aims'
							] %}
							{% for courseType in courseTypes %}
							<div class="form-group">
								<label class="form-label" for="first-name-2">{{ courseType }}</label>
								<input class="form-control" id="first-name-2" name="first-name-2" type="text">
							</div>
							{% endfor %}
						</div>
					</fieldset>

					<input type="submit" class="button" value="Continue">
				</form>
			</div>

			<div class="column-one-third">

			</div>
		</div>
	</main>

	{% endblock %}