{% extends "./layout.html" %}

{% set serviceName = 'Estimate your ESFA funding' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block content %}
<!-- {% include './includes/_header-nav.html' %} -->

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Check the personal information held about you is correct and up to date</h1>

			<table>
				<caption class="heading-small">Your personal information</caption>
				<tbody>
					<tr>
						<td>Your name</td>
						<td>{{data['learner-name'] or 'Jay Jones'}}</td>
						<td><a href="edit?data-title=Your name&data-data={{data['learner-name'] or 'Jay Jones'}}&data-name=learner-name">Edit</a></td>
					</tr>
					<tr>
						<td>Date of birth</td>
						<td>{{data['learner-dob'] or '01 02 1993'}}</td>
						<td><a href="edit?data-title=Date of birth&data-data={{data['learner-dob'] or '01 02 1993'}}&data-name=learner-dob">Edit</a></td>
					</tr>
					<tr>
						<td>Ethnicity</td>
						<td>{{data['learner-ethnicity'] or 'Prefer not to say'}}</td>
						<td><a href="edit?data-title=Ethnicity&data-data={{data['learner-ethnicity'] or 'Prefer not to say'}}&data-name=learner-ethnicity">Edit</a></td>
					</tr>
					<tr>
						<td>Sex</td>
						<td>Prefer not to say</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<td>Home address</td>
						<td>
							1 The Road<br>
							Townton<br>
							TW7 1YV
						</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<td>Phone number</td>
						<td>07707 602 702</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<td>Contact preference</td>
						<td>Telephone only</td>
						<td><a href="#">Edit</a></td>
					</tr>
				</tbody>
			</table>

			<form action="learning-details">
				<fieldset>
					<legend>
						<h3 class="heading-medium">Confirm the information is correct</h3>
					</legend>

					<div class="form-group">
						<div class="multiple-choice">
							<input type="checkbox">
							<label>
								I confirm this information is correct
							</label> 
						</div>
					</div>
				</fieldset>
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
			</form>
		</div>

		<div class="column-one-third">

		</div>
	</div>
</main>

{% endblock %}