{% extends "layout-account.html" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
	items: [
	{
		text: "Home",
		href: "account-home"
	},
	{
		text: "Finance"
	}
	]
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-2" id="company-Name">
	Finance
</h1>

<div class="app-finance-summary-box">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-m govuk-!-margin-bottom-2">
				Your levy funds
			</h2>
			<p class="govuk-!-display-block govuk-!-font-size-19 govuk-!-font-weight-regular govuk-!-margin-top-2">
				We estimate that you will spend <strong>£{{data['unspent_levy'][0] if data['scenario'] == 'a' else data['unspent_levy'][1]}} {{'less' if data['scenario'] != 'a' else 'more'}}</strong> than what we predict will be paid in to your levy account over the next 12 months.
			</p>

			{% if data['scenario'] === 'b' %}
			<p class="govuk-!-display-block govuk-!-font-size-19 govuk-!-margin-top-2">
				<strong>£{{data['expired_funds'][0]}}</strong> of your current levy funds will expire in August 2019.
			</p>
			{% endif %}			

			<p class="govuk-!-margin-bottom-2">
				<a href="#">View your complete funding projection</a>
			</p>
		</div>
	</div>
</div>

<hr class="govuk-section-break govuk-section-break--l">

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title=" View transactions" href="#">
				View transactions 
			</a>
		</h2>
		<p>
			View payments made into and out of your apprenticeship service account. 
		</p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Download transactions" href="#">
				Download transactions
			</a>
		</h2>
		<p>
			Download your financial transactions within a specific date range.
		</p>
	</div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Funding projection" href="#">
				Funding projection
			</a>
		</h2>
		<p>
			View funding projection to plan your future spending.
		</p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Download transactions" href="#">
				Transfers
			</a>
		</h2>
		<p>
			Connect with other employers and send or receive transfer funds. 
		</p>
	</div>
</div>
{% endblock %}
