{% extends "layout.html" %}

{% block page_title %}
Submit an ILR - GOV.UK
{% endblock %}

{% block service_name %}
Submit an ILR
{% endblock %}

{% block page_scripts %}
<script>
	{% include '../../../frontend-js/ilr-upload.js' %}
</script>
{% endblock %}

{% block content %}
{% include version + '/includes/_header-nav.html' %}

<main id="content" role="main">
	{% include version + '/includes/_phase-banner.html' %}
	
	<div class="back">
		<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>
	</div>
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Upload an <abbr title="Individual Learner Record">ILR</abbr> file
			</h1>
			
			<p>Use this page to upload an <abbr title="Individual Learner Record">ILR</abbr> file using either the <abbr title="Extensible Markup Language">XML</abbr> file type, or as a compressed ZIP file.</p>			
			
			<form action="ilr-upload-complete" id="file-submission">
				<div id="upload-v2">
					<p class="notice">
						<i class="icon icon-important">
							<span class="visually-hidden">Warning</span>
						</i>
						<strong class="bold-small">
							Warning: Any files currently being processed will be deleted.
						</strong>
					</p>
					
					<div id="upload-select-area">
						<label for="upload" class="button button-secondary" role="button">
							<span class="">Select ILR file</span>
						</label>
						<input accept="text/xml" id="upload" class="choose-file" name="file-upload" aria-controls="progress-container" aria-required="true" type="file">
					</div>

					<div id="file-details" class="hidden">
						<table class="table-font-xsmall">
							<tbody>
								<tr>
									<td><span class="bold">File</span></td>
									<td class="file-name"></td>
									<td><a id="change-file" href="#change">Change</a></td>
								</tr>
								<!-- <tr>
									<td><span class="bold">File size</span></td>
									<td>209.8kb</td>
									<td></td>
								</tr> -->
								<tr>
									<td><span class="bold">Date and time</span></td>
									<td class="file-date">28 April 2018 at 10.38am</td>
									<td></td>
								</tr>
							</tbody>
						</table>

						<br>

						<div id="submit-file-area">
							<div class="form-group">
								<div class="multiple-choice" data-target="contact-by-email">
									<input id="email-confirmation" name="email-confirmation" type="checkbox" value="email-confirmation" checked>
									<label for="email-confirmation">Send an email when the ILR file has been processed</label>
								</div>
								<div class="panel panel-border-narrow js-hidden" id="contact-by-email">
									<label class="form-label" for="contact-email">Email address</label>
									<input class="form-control" name="contact-email" type="text" id="contact-email" value="your.name@youremail.com">
								</div>
							</div>

							<input type="hidden" name="ilr-submission-status" value="processing">
							<input type="hidden" name="file-date" value="">

							<input type="submit" class="button" name="confirm-upload" value="Confirm and upload ILR file">
						</div>
					</div>

					<div id="uploading-progress" class="hidden">
						<img id="loading-spinner" src="/public/images/loading-spinner.gif" width="40px">
						<p>Uploading <span class="file-name"></span></p>
						<p>Estimated time remaining: 14 minutes.</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</main>

{% endblock %}