{% extends "./layout-email.html" %}

{% set serviceName = 'EMAIL' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" target="_blank">
    <img src="/public/images/esfa-logo.png" width="180px" id="logo">
  </a>

  <h1 class="heading-large">
    Your ILR data submission has been processed
  </h1>

  <p>
    Hi {{data['user-id'] or 'J Jones'}},
  </p>

  <p>
    We wanted to let you know that the ILR data you submitted {{ 'on ' + data['file-date'] if data['file-date'] }} has now been processed.
  </p>

  <p>
    You can view the calculated funding amounts, and details of any issues with your data submission, by visiting the link below and logging in to your learning provider account:
  </p>

  <p class="panel panel-border-narrow font-medium">
      <a href="{{url}}/{{version}}/ilr-details">{{url}}/{{version}}/ilr-details</a>
  </p>

  <p>
    Regards,
  </p>

  <p>
    Data Collections Team,<br>
    Education and Skills Funding Agency
  </p>
</main>
{% endblock %}