{% extends version + "/layout.html" %}

{% set serviceName = 'Manage your learning provider account' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include version + '/includes/_phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-large">
				{{serviceName}}
			</h2>

			<ol class="task-list">
				<li>
					<h2 class="task-list-section">
						<span class="task-list-section-number">1. </span> Submit data about your learners
					</h2>
					<ul class="task-list-items">
						<li class="task-list-item">
							<a class="task-name" href="#" aria-describedby="company-information-completed">
								Read guidance
							</a>
							<strong class="task-completed" id="company-information-completed">Completed</strong>
						</li>
						<li class="task-list-item">
							<a class="task-name" href="#" aria-describedby="company-information-completed">
								Gather learner data
							</a>
							<strong class="task-completed" id="company-information-completed">Completed</strong>
						</li>
						<li class="task-list-item">
							<a class="task-name" href="#" aria-describedby="contact-details-completed">
								Check your ILR file for errors
							</a>
						</li>
						<li class="task-list-item">
							<a class="task-name" href="#">
								Get your funding estimate
							</a>
						</li>
						<li class="task-list-item">
							<a class="task-name" href="#" aria-describedby="contact-details-completed">
								Confirm your submission
							</a>
						</li>
					</ul>
				</li>
				<li>
					<h2 class="task-list-section">
						<span class="task-list-section-number">2. </span> Report other spending
					</h2>
					<ul class="task-list-items">
						<li class="task-list-item">
							<a class="task-name" href="#" aria-describedby="company-information-completed">
								Read guidance
							</a>
							<strong class="task-completed" id="company-information-completed">Completed</strong>
						</li>
						<li class="task-list-item">
							<a class="task-name" href="#" aria-describedby="company-information-completed">
								Report your spending
							</a>
							<strong class="task-completed" id="company-information-completed">Completed</strong>
						</li>
						<li class="task-list-item">
							<a class="task-name" href="#">
								Get your funding estimate
							</a>
						</li>
						<li class="task-list-item">
							<a class="task-name" href="#" aria-describedby="contact-details-completed">
								Confirm your submission
							</a>
						</li>
					</ul>
				</li>
				<li>
					<h2 class="task-list-section">
						<span class="task-list-section-number">3. </span> Get your payment
					</h2>
					<ul class="task-list-items">
						<li class="task-list-item">
							<a class="task-name" href="#">
								Check payment amount
							</a>
						</li>
					</ul>
				</li>
			</ol>
		</div>
	</div>
</main>
{% endblock %}