{% extends version + "/layout.html" %}

{% set serviceName = 'Submit your data' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include version + '/includes/_phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				<span class="heading-secondary">Individualised Learner Record (ILR) submission</span>
				<span class="visually-hidden"> for </span>
				{% include version + '/_return-period-text.html' %}
			</h1>
			{% if data['ilr-submission-status'] == 'processed' %}
			{% include './includes/_ilr-details-processed.html' %}
			{% elif data['ilr-submission-status'] == 'processing' %}
			processing
			{% elif data['ilr-submission-status'] == 'errors' %}
			{% include './_ilr-details-errors.html' %}
			{% endif %}
		</div>

		<div class="column-one-third">
			{% include version + '/includes/_return-period-info.html' %}
		</div>
	</div>
</main>
{% endblock %}