{% extends "layout.html" %}

{% block page_title %}
Submit learner data
{% endblock %}

{% block service_name %}
Submit learner data
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}

	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				<span class="heading-secondary">Add a new claim</span>
				Which programme is this claim for?
			</h1>

			<form action="choose-category">
				<div class="form-group">
					{% set programmes = [{
						title: "Apprenticeships for starts before 1 May 2017",
						id: 1
					},
					{
						title: "Apprenticeships for starts on or after 1 May 2017",
						id: 2
					},
					{
						title: "Apprenticeships for starts from 1 May 2017 (non-procured, non-levy contracts)",
						id: 3
					},
					{
						title: "Apprenticeships funded under procured contracts for non-levy contracts",
						id: 4
					},
					{
						title: "16 to 18 traineeships (not funded through a 16 to 19 contract)",
						id: 5
					},
					{
						title: "Adult education – traineeships and ‘other learning’ (non-procured provision)",
						id: 6
					},
					{
						title: "Adult education – traineeships and ‘other learning’ (procured provision from 1 November 2017)",
						id: 7
					},
					{
						title: "Advanced Learner Loans",
						id: 8
					}
					]
					%}
					{% for programme in programmes %}
					<div class="multiple-choice">
						<input id="radio-{{programme.id}}" type="radio" name="programme" value="{{programme.id}}" required>
						<label for="radio-{{programme.id}}">{{programme.title}}</label>
					</div>
					{% endfor %}
				</div>

				<input type="submit" value="Continue" class="button">
			</form>
		</div>

		<div class="column-third">
		</div>
	</div>
</main>

{% endblock %}