{% extends "layout-account.html" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
	items: [
	{
		text: "Home",
		href: "account-home"
	},
	{
		text: "Finance"
	}
	]
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-2">
	Finance
</h1>

<h2 class="govuk-heading-m">
	Projections
</h2>
<div class="govuk-grid-row app-finance-mini-box__wrapper">
	<div class="govuk-grid-column-one-third app-finance-mini-box__item">
		<div class="app-finance-mini-box">
			<span class="app-finance-mini-box__figure">
				{% if data['scenario'] != 'b' %}
				£43,930
				{% else %}
				£12,200
				{% endif %}
			</span>

			<span class="app-finance-mini-box__description">
				Estimated total funding for the next 12 months (based on current payments)
			</span>
		</div>
	</div>

	<div class="govuk-grid-column-one-third app-finance-mini-box__item">
		<div class="app-finance-mini-box">
			<span class="app-finance-mini-box__figure">
				£20,750
			</span>

			<span class="app-finance-mini-box__description">
				Estimated planned spending for the next 12 months
			</span>
		</div>
	</div>

	<div class="govuk-grid-column-one-third app-finance-mini-box__item">
		<div class="app-finance-mini-box">
			{% if data['scenario'] != 'b' %}
			<span class="app-finance-mini-box__figure">
				£23,180
			</span>
			{% else %}
			<span class="app-finance-mini-box__figure app-finance-mini-box__figure--small app-finance-mini-box__figure--red">
				Your planned spending has exceeded your estimated available funds by £460.
			</span>
			{% endif %}

			{% if data['scenario'] != 'b' %}
			<span class="app-finance-mini-box__description">
				Estimated funds available after planned spending
			</span>
			{% else %}
			{% set detailsHtml %}
			<p class="govuk-!-font-size-16">
				90-100% from apprenticeship funding
			</p>

			<p class="govuk-!-font-size-16">
				0-10% from your organisation
			</p>

			<p class="govuk-!-font-size-16">
				You have £9,010 current funds available to use.
			</p>
			{% endset %}
			{{ govukDetails({
				summaryText: "How will this be paid off?",
				html: detailsHtml,
				classes: "govuk-!-font-size-16"
			}) }}
			{% endif %}
		</div>
	</div>
</div>

<h2 class="govuk-heading-m">
	Current
</h2>
<div class="govuk-grid-row app-finance-mini-box__wrapper">
	<div class="govuk-grid-column-one-third app-finance-mini-box__item">
		<div class="app-finance-mini-box app-finance-mini-box--subtle">
			<span class="app-finance-mini-box__figure">
				{% if data['scenario'] != 'b' %}
				£28,010
				{% else %}
				£9,010
				{% endif %}
			</span>

			<span class="app-finance-mini-box__description">
				Current funds
			</span>
		</div>
	</div>

	<div class="govuk-grid-column-one-third app-finance-mini-box__item">
		<div class="app-finance-mini-box app-finance-mini-box--subtle">
			<span class="app-finance-mini-box__figure">
				£17,220
			</span>

			<span class="app-finance-mini-box__description">
				Funds spent in the last 12 months
			</span>
		</div>
	</div>

	{% if data['scenario'] != 'b' %}
	<div class="govuk-grid-column-one-third app-finance-mini-box__item">
		<div class="app-finance-mini-box app-finance-mini-box--subtle">
			<span class="app-finance-mini-box__figure">
				£2,650
			</span>

			<span class="app-finance-mini-box__description">
				Current funds due to expire in <strong>December 2019</strong>
			</span>
		</div>
	</div>
	{% endif %}
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title=" View transactions" href="#">
				View transactions 
			</a>
		</h2>
		<p>
			View payments made into and out of your apprenticeship service account. 
		</p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Download transactions" href="#">
				Download transactions
			</a>
		</h2>
		<p>
			Download your financial transactions within a specific date range.
		</p>
	</div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Funding projection" href="#">
				Funding projection
			</a>
		</h2>
		<p>
			View funding projection to plan your future spending.
		</p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Download transactions" href="#">
				Transfers
			</a>
		</h2>
		<p>
			Connect with other employers and send or receive transfer funds. 
		</p>
	</div>
</div>
{% endblock %}
