{% extends "layout-account.html" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
	  items: [
	    {
	      text: "Home",
	      href: "account-home"
	    },
	    {
	      text: "Finance"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl heading-dashboard" id="company-Name">
	Finance
</h1>

<div class="govuk-grid-row" id="page-transactions">
	<div class="govuk-grid-column-one-half">
		<div class="data govuk-!-margin-bottom-8">
			<dl class="transfer-funds">
				<dt>
					Current funds
				</dt>

				<dd class="">£{{ data["levy-funds"] or "0" }}</dd>
			</dl>
		</div>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="View transactions" href="/accounts/8MGY6M/finance/2018/6">
				Transaction history
			</a>
		</h2>
		<p>View payments made into and out of your apprenticeship service account. </p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Download transactions" href="/accounts/8MGY6M/finance/downloadtransactions">
				Download transactions
			</a>
		</h2>
		<p>Download your financial transactions within a specific date range. </p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Download transactions" href="/{{version}}/future-spending">
				Plan future spending
			</a>
		</h2>
		<p>
			View projected future spending to help you plan. 
		</p>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">
			<a title="Manage transfers" href="/accounts/8MGY6M/transfers">
				Transfers
			</a>
		</h2>
		<p>Connect with other employers and send or receive transfer funds. </p>
	</div>
</div>
{% endblock %}