{% set data = [{
	"Month": "Oct-18",
	"FundsIn": "5061",
	"TotalCostOfTraining": "3473",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "40626"
},
{
	"Month": "Nov-18",
	"FundsIn": "5061",
	"TotalCostOfTraining": "3473",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "42215"
},
{
	"Month": "Dec-18",
	"FundsIn": "5061",
	"TotalCostOfTraining": "2973",
	"CompletionPayments": "1500",
	"Expired": "",
	"FutureFunds": "42803"
},
{
	"Month": "Jan-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "2873",
	"CompletionPayments": "300",
	"Expired": "",
	"FutureFunds": "44691"
},
{
	"Month": "Feb-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "2773",
	"CompletionPayments": "300",
	"Expired": "",
	"FutureFunds": "46680"
},
{
	"Month": "Mar-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "2773",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "48968"
},
{
	"Month": "Apr-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "2773",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "51257"
},
{
	"Month": "May-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "2773",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "53545"
},
{
	"Month": "Jun-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "2550",
	"CompletionPayments": "2600",
	"Expired": "",
	"FutureFunds": "53456"
},
{
	"Month": "Jul-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "1589",
	"CompletionPayments": "1500",
	"Expired": "",
	"FutureFunds": "55428"
},
{
	"Month": "Aug-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "1204",
	"CompletionPayments": "1600",
	"Expired": "",
	"FutureFunds": "57685"
},
{
	"Month": "Sep-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "1204",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "61541"
},
{
	"Month": "Oct-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "1204",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "65398"
},
{
	"Month": "Nov-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "1204",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "69255"
},
{
	"Month": "Dec-19",
	"FundsIn": "5061",
	"TotalCostOfTraining": "1204",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "73112"
},
{
	"Month": "Jan-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "1012",
	"CompletionPayments": "1200",
	"Expired": "",
	"FutureFunds": "75960"
},
{
	"Month": "Feb-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "1012",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "80009"
},
{
	"Month": "Mar-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "1012",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "84058"
},
{
	"Month": "Apr-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "3000",
	"Expired": "",
	"FutureFunds": "85535"
},
{
	"Month": "May-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "90012"
},
{
	"Month": "Jun-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "94490"
},
{
	"Month": "Jul-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "98967"
},
{
	"Month": "Aug-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "103444"
},
{
	"Month": "Sep-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "",
	"FutureFunds": "107922"
},
{
	"Month": "Oct-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "2933",
	"FutureFunds": "109466"
},
{
	"Month": "Nov-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "4477",
	"FutureFunds": "109466"
},
{
	"Month": "Dec-20",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "4477",
	"FutureFunds": "109466"
},
{
	"Month": "Jan-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "4477",
	"FutureFunds": "109466"
},
{
	"Month": "Feb-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "4477",
	"FutureFunds": "109466"
},
{
	"Month": "Mar-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "4477",
	"FutureFunds": "109466"
},
{
	"Month": "Apr-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "4477",
	"FutureFunds": "109466"
},
{
	"Month": "May-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "",
	"Expired": "4477",
	"FutureFunds": "109466"
},
{
	"Month": "Jun-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "584",
	"CompletionPayments": "5400",
	"Expired": "4477",
	"FutureFunds": "104066"
},
{
	"Month": "Jul-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Aug-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Sep-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Oct-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Nov-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Dec-21",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Jan-22",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Feb-22",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Mar-22",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Apr-22",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "May-22",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Jun-22",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Jul-22",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Aug-22",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
},
{
	"Month": "Sep-22",
	"FundsIn": "5061",
	"TotalCostOfTraining": "",
	"CompletionPayments": "",
	"Expired": "5061",
	"FutureFunds": "104066"
}
] 
%}