{% extends "layout-account.html" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
	items: [
	{
		text: "Home",
		href: "account-home"
	},
	{
		text: "Finance",
		href: "finance"
	},
	{
		text: "Future spending"
	}
	]
}) }}
{% endblock %}

{% set currentPage = 'finance' %}

{% if data['annual-payroll'] >= '36000000' %}
{% set levyPayer = 'true' %}
{% else %}
{% set levyPayer = 'false' %}
{% endif %}

{% block content %}

{% if levyPayer %}
{% set apprenticeshipCost = 9000 %}
{% else %}
{% set apprenticeshipCost = 900 %}
{% endif %}

{% set totalCost, apprenticeshipCount = 0 %}

{% for i in range(1, 999) %}
{% if data['apprenticeship_' + i + '-name'] and data['apprenticeship_' + i + '-count'] %}
{% set totalCost = (data['apprenticeship_' + i + '-count'] * apprenticeshipCost) + totalCost %}
{% set apprenticeshipCount = (data['apprenticeship_' + i + '-count'] | int) + apprenticeshipCount %}
{% endif %}
{% endfor %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
			Estimate your future spending
		</h1>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		{%- set closeButton %}
		<a href="?apprenticeship-added=false&apprenticeship-updated=false&apprenticeship-removed=false" style="float: right !important">Close</a>
		{% endset %}

		{% if data["apprenticeship-added"] === 'true' %}
		<div class="govuk-inset-text govuk-inset-text--success">
			Apprenticeships added.
			{{ closeButton | safe }}
		</div>
		{% endif %}

		{% if data["apprenticeship-removed"] === 'true' %}
		<div class="govuk-inset-text govuk-inset-text--warning">
			Apprenticeships removed.
			{{ closeButton | safe }}
		</div>
		{% endif %}

		{% if data["apprenticeship-updated"] === 'true' %}
		<div class="govuk-inset-text govuk-inset-text--info">
			Apprenticeships updated.
			{{closeButton | safe}}
		</div>
		{% endif %}

		<section>
			<nav>
				<ul class="js-tabs" role="tablist">
					<li role="tab" id="tab-table" aria-controls="pane-table">
						<a href="#pane-table">
							Future spending breakdown
						</a>
					</li>

					{% if apprenticeshipCount != 0 %}
					<li role="tab" id="tab-planned" aria-controls="pane-planned">
						<a href="#pane-planned">
							Estimated apprenticeships{% if apprenticeshipCount > 0 %}<span class="govuk-tag govuk-!-margin-left-2 govuk-!-font-size-14" style="padding: 2px 7px;">{{apprenticeshipCount}}</span>{% endif %}
						</a>
					</li>
					{% endif %}

					<li role="tab" id="tab-current" aria-controls="pane-current">
						<a href="#pane-current">
							Current apprenticeships 
						</a>
					</li>
				</ul>
			</nav>

			<div class="panes">
				<!-- START PANE -->
				<div class="js-tab-pane" id="pane-current" role="tabpanel">
					<div class="govuk-grid-row">
						<div class="govuk-grid-column-two-thirds">
							<h2 class="govuk-heading-l govuk-!-margin-top-4">
								Current apprenticeships
							</h2>

							<p>
								The information below shows the apprenticeships that you're already funding and that you have approved to fund - these include apprenticeships that are waiting to start.
							</p>

							<p>
								<a href="#" class="govuk-!-font-weight-bold">Download this data (CSV, 90kB)</a>
							</p>
						</div>
					</div>

					<table class="govuk-table govuk-table--font-small govuk-!-margin-top-4">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="col">Apprenticeship</th>
								<!-- <th class="govuk-table__header govuk-table__header--numeric" scope="col">Apprentices</th> -->
								<th class="govuk-table__header" scope="col">Start date</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Total cost</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Monthly payments</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Completion payment</th>
								<th class="govuk-table__header" scope="col">Transfer</th>
								<th class="govuk-table__header" scope="col"></th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							{% import './_current-apprenticeships-data.html' as currentApprenticeships %}
							{% for apprenticeship in currentApprenticeships.apprenticeships %}
							<tr class="govuk-table__row">
								<td class="govuk-table__cell" scope="row">
									<span class="govuk-!-font-weight-bold">{{ apprenticeship.count }} x {{apprenticeship.name}}</span><br>
									<span class="govuk-!-font-weight-regular">Level: {{apprenticeship.level}}</span><br>
								</td>
								<td class="govuk-table__cell">{{apprenticeship.startDate}}</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">£{{(apprenticeship.cost * apprenticeship.count) | numeral().format('0,0')}}</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">
									£{{ (apprenticeship.cost * apprenticeship.count * 0.8 / apprenticeship.monthlyPayments) | numeral().format('0,0')}} x {{apprenticeship.monthlyPayments}}
								</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">
									£{{ (apprenticeship.cost * 0.2) | numeral().format('0,0')}}
								</td>
								<td class="govuk-table__cell">
									{{"No" if apprenticeship.transfer === false else "Yes"}}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- END PANE -->

				<!-- START PANE -->
				<div class="js-tab-pane" id="pane-planned" role="tabpanel">
					<div class="govuk-grid-row">
						<div class="govuk-grid-column-two-thirds">
							<h2 class="govuk-heading-l govuk-!-margin-top-4">
								Estimated apprenticeships
							</h2>

							<p>
								These are the apprenticeships you've added to this estimate.  You can save this estimate and create a new estimate - or save this one and come back to add/remove apprenticeships.
							</p>

							<p>
								<a href="#" class="govuk-!-font-weight-bold">Download this data (CSV, 90kB)</a>
							</p>
						</div>
					</div>

					<table class="govuk-table govuk-table--font-small govuk-!-margin-top-4">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="col">Apprenticeship</th>
								<!-- <th class="govuk-table__header govuk-table__header--numeric" scope="col">Apprentices</th> -->
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Start date</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Total cost</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Monthly payments</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Completion payment</th>
								<th class="govuk-table__header" scope="col">Transfer</th>
								<th class="govuk-table__header" scope="col"></th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							{% macro apprenticeship(id, attribute) %}
							{{ data['apprenticeship_' + id + '-' + attribute] }}
							{% endmacro %}

							{% for i in range(1, 999) %}
							{% set el = 'apprenticeship_' + i %}
							{% if data[el + '-name'] and data[el + '-count'] %}

							{% set name = apprenticeship(i,'name').split("|")[0] %}
							{% set level = apprenticeship(i,'name').split("|")[1] %}
							{% set standard = apprenticeship(i,'name').split("|")[2] %}
							{% set id = apprenticeship(i,'name').split("|")[3] %}
							{% set startDate = apprenticeship(i,'name').split("|")[4] %}

							<tr class="govuk-table__row">
								<td class="govuk-table__cell" scope="row">
									{{ apprenticeship(i,'count') }}x {{name}}{{" (Standard)" if standard === 'true'}}<br>
									<span class="govuk-!-font-weight-regular">Level: {{level}}</span><br>
									<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/Apprenticeship/{{'Standard' if standard === 'true' else 'Framework'}}/{{id}}" target="_blank" class="govuk-!-font-weight-regular">More details</a>
								</td>
								<!-- <td class="govuk-table__cell govuk-table__cell--numeric">{{ apprenticeship(i,'count') }}</td> -->
								<td class="govuk-table__cell govuk-table__cell--numeric">{{data['startDate_' + i + '-month']}} {{data['startDate_' + i + '-year']}}</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">£{{ (apprenticeship(i,'count') * apprenticeshipCost) | numeral().format('0,0')}}</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">
									£{{ (apprenticeship(i,'count') * apprenticeshipCost * 0.8 / 24) | numeral().format('0,0')}} x 24
								</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">
									£{{ (apprenticeship(i,'count') * apprenticeshipCost * 0.2) | numeral().format('0,0')}}
								</td>
								<td class="govuk-table__cell">
									No
								</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">
									<a href="edit-apprenticeship?edit-apprenticeship_id={{i}}">Change</a>
								</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>

					<p>
						<a href="add-apprenticeship" class="govuk-button">
							Add apprenticeships to this estimate
						</a>
					</p>
				</div>
				<!-- END PANE -->

				<!-- START PANE -->
				<div class="js-tab-pane" id="pane-table" role="tabpanel">
					<div class="govuk-grid-row govuk-!-margin-top-4">
						<div class="govuk-grid-column-two-thirds">
							<h2 class="govuk-heading-l">
								Future spending breakdown
							</h2>

							<p>
								These figures are based on the current information in your account and the data provided by your training provider which is used to calculate funding.
							</p>

							<a href="add-apprenticeship" class="govuk-button">
								Add apprenticeships to this estimate
							</a>

							<p>
								<a href="#" class="govuk-!-font-weight-bold">Download this data (CSV, 90kB)</a>
							</p>
						</div>
					</div>

					<div class="govuk-grid-row govuk-!-margin-top-4">
						<div class="govuk-grid-column-full">
							<h3 class="govuk-heading-m govuk-!-margin-top-6">Tax year 2018 / 2019</h3>
							<table class="govuk-table govuk-table--font-small">
								<thead class="govuk-table__head">
									<tr class="govuk-table__row">
										<th class="govuk-table__header">Date</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="Cost of apprenticeships that have already started and currently being paid for.  This figure also includes any transfers you’ve made. Apprenticeships that have not started or been paid for are not included in this column">
											Funds in
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="This column shows the total cost of all completion payments due for the month. The completion payment is shown in the month after the apprentice plans to end their apprenticeship. It is 20% of the total cost of each apprenticeship">
											Cost of training
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="These figures are not currently shown in the projection tool, but will be soon. Funds will start to expire from May 2019">
											Completion payments
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="Total of the last month's received levy funds from your PAYE schemes including the 10% top up, which will be updated on the 20th of each month and any transferred funds you've received. The same figure is used throughout the forecast">
											Expired funds
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="The estimated funds you have left at the end of the month">
											Future funds
										</th>
									</tr>
								</thead>
								<tbody class="govuk-table__body">
									{% import './_initial-forecast-data.html' as initialForecast %}
									{% for month in initialForecast.data %}

									{% set years = [19,20,21,22] %}
									{% for year in years %}
									{% if month.Month === "Apr-" + year %}
									<tr class="govuk-table__row">
										<th class="govuk-table__header" colspan="6">
											<h3 class="govuk-heading-m govuk-!-margin-top-6">Tax year 20{{year}} / 20{{year + 1}}</h3>
										</th>
									</tr>
									{% endif %}
									{% endfor %}

									<tr class="govuk-table__row {{ 'govuk-table__row--warning' if month.Expired > 0 }}">
										<td class="govuk-table__cell">
											{{month.Month}}
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£{{month.FundsIn | numeral().format('0,0')}}
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£{{month.TotalCostOfTraining | numeral().format('0,0')}}
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£{{month.CompletionPayments | numeral().format('0,0')}}
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											{{"£"+(month.Expired | numeral().format('0,0')) if month.Expired != '-' else '-'}}
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£{{month.FutureFunds | numeral().format('0,0')}}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END PANE -->
			</div>
		</section>
	</div>
</div>
{% endblock %}
