{% extends "layout-account.html" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
	items: [
	{
		text: "Home",
		href: "account-home"
	},
	{
		text: "Finance",
		href: "finance"
	},
	{
		text: "Future spending"
	}
	]
}) }}
{% endblock %}

{% set currentPage = 'finance' %}

{% if data['annual-payroll'] >= '36000000' %}
{% set levyPayer = 'true' %}
{% else %}
{% set levyPayer = 'false' %}
{% endif %}

{% block content %}

{% if levyPayer %}
{% set apprenticeshipCost = 9000 %}
{% else %}
{% set apprenticeshipCost = 900 %}
{% endif %}

{% set totalCost = 0 %}

{% for i in range(1, 999) %}
{% if data['apprenticeship_' + i + '-name'] and data['apprenticeship_' + i + '-count'] %}
{% set totalCost = (data['apprenticeship_' + i + '-count'] * apprenticeshipCost) + totalCost %}
{% endif %}
{% endfor %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl {{'heading-dashboard' if data['logged-in'] === true}} govuk-!-margin-bottom-4">
			{{"Future spending" if data['logged-in'] === 'true' else "Estimated cost of your apprenticeships"}}
		</h1>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		{% if data["apprenticeship-added"] === 'true' %}
		<div class="govuk-inset-text govuk-inset-text--success">
			Apprenticeships added.
			<a href="#" onclick="$(this).parent().hide()" style="float: right !important">Close</a>
		</div>
		{% endif %}

		{% if data["apprenticeship-removed"] === 'true' %}
		<div class="govuk-inset-text govuk-inset-text--warning">
			Apprenticeships removed.
		</div>
		{% endif %}

		{% if data["apprenticeship-updated"] === 'true' %}
		<div class="govuk-inset-text govuk-inset-text--info">
			Apprenticeships updated.
		</div>
		{% endif %}

		<section>
			<nav>
				<ul class="js-tabs" role="tablist">
					<li role="tab" id="tab-table" aria-controls="pane-table">
						<a href="#pane-table">
							Monthly spending breakdown
						</a>
					</li>

					<li role="tab" id="tab-planned" aria-controls="pane-planned">
						<a href="#pane-planned">
							Apprenticeships added by you<span class="govuk-tag govuk-!-margin-left-2 govuk-!-font-size-14" style="padding: 2px 7px;">3</span>
						</a>
					</li>

					<li role="tab" id="tab-current" aria-controls="pane-current">
						<a href="#pane-current">
							Current apprenticeships 
						</a>
					</li>
				</ul>
			</nav>

			<div class="panes">
				<!-- START PANE -->
				<div class="js-tab-pane" id="pane-current" role="tabpanel">
					<h2 class="govuk-heading-l govuk-!-margin-top-4">
						Current apprenticeships
					</h2>

					<table class="govuk-table govuk-table--font-small">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="col">Apprenticeship</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Apprentices</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Start date</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Total cost</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="row">
									Able seafarer (deck) (Standard)<br>
									<span class="govuk-!-font-weight-regular">Level: 2</span><br>
									<!-- <a href="#">More details</a> -->
								</th>
								<td class="govuk-table__cell govuk-table__cell--numeric">2</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">12 2018</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">£{{9000 | numeral().format('0,0')}}</td>
							</tr>
							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="row">
									Business admin<br>
									<span class="govuk-!-font-weight-regular">Level: 3</span><br>
									<!-- <a href="#">More details</a> -->
								</th>
								<td class="govuk-table__cell govuk-table__cell--numeric">2</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">12 2018</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">£{{9000 | numeral().format('0,0')}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- END PANE -->

				<!-- START PANE -->
				<div class="js-tab-pane" id="pane-planned" role="tabpanel">
					<h2 class="govuk-heading-l govuk-!-margin-top-4">
						Apprenticeships added by you
					</h2>

					<table class="govuk-table govuk-table--font-small">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="col">Apprenticeship</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Apprentices</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Start date</th>
								<th class="govuk-table__header govuk-table__header--numeric" scope="col">Cost</th>
								<th class="govuk-table__header" scope="col"></th>
								<th class="govuk-table__header" scope="col"></th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							{% macro apprenticeship(id, attribute) %}
							{{ data['apprenticeship_' + id + '-' + attribute] }}
							{% endmacro %}

							{% for i in range(1, 999) %}
							{% set el = 'apprenticeship_' + i %}
							{% if data[el + '-name'] and data[el + '-count'] %}

							{% set name = apprenticeship(i,'name').split("|")[0] %}
							{% set level = apprenticeship(i,'name').split("|")[1] %}
							{% set standard = apprenticeship(i,'name').split("|")[2] %}
							{% set id = apprenticeship(i,'name').split("|")[3] %}
							{% set startDate = apprenticeship(i,'name').split("|")[4] %}

							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="row">
									{{name}}{{" (Standard)" if standard === 'true'}}<br>
									<span class="govuk-!-font-weight-regular">Level: {{level}}</span><br>
									<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/Apprenticeship/{{'Standard' if standard === 'true' else 'Framework'}}/{{id}}" target="_blank" class="govuk-!-font-weight-regular">More details</a>
								</th>
								<td class="govuk-table__cell govuk-table__cell--numeric">{{ apprenticeship(i,'count') }}</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">{{data['startDate_' + i + '-month']}} {{data['startDate_' + i + '-year']}}</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">£{{ (apprenticeship(i,'count') * apprenticeshipCost) | numeral().format('0,0')}}</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">
									<a href="edit-apprenticeship?edit-apprenticeship_id={{i}}">Edit</a>
								</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">
									<a href="?apprenticeship-removed=true&apprenticeship-added=false&apprenticeship_{{i}}-count=&apprenticeship_{{i}}-name=">Remove</a>
								</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>

					<p>
						<a href="add-apprenticeship" class="govuk-button">
							Add planned apprenticeships
						</a>
					</p>
				</div>
				<!-- END PANE -->

				<!-- START PANE -->
				<div class="js-tab-pane" id="pane-table" role="tabpanel">
					<div class="govuk-grid-row govuk-!-margin-top-4">
						<div class="govuk-grid-column-full">
							<h2 class="govuk-heading-l">
								Monthly spending breakdown
							</h2>

							<p>
								<a href="#" class="govuk-!-font-weight-bold">Download this data (CSV, 90kB)</a>
							</p>

							<h3 class="govuk-heading-m govuk-!-margin-top-6">April 2018 to March 2019</h3>
							<table class="govuk-table govuk-table--font-small">
								<thead class="govuk-table__head">
									<tr class="govuk-table__row">
										<th class="govuk-table__header">Date</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="Cost of apprenticeships that have already started and currently being paid for.  This figure also includes any transfers you’ve made. Apprenticeships that have not started or been paid for are not included in this column">
											Cost of training
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="This column shows the total cost of all completion payments due for the month. The completion payment is shown in the month after the apprentice plans to end their apprenticeship. It is 20% of the total cost of each apprenticeship">
											Completion payments
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="These figures are not currently shown in the projection tool, but will be soon. Funds will start to expire from May 2019">
											Expired funds
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="Total of the last month's received levy funds from your PAYE schemes including the 10% top up, which will be updated on the 20th of each month and any transferred funds you've received. The same figure is used throughout the forecast">
											Funds in
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="The estimated funds you have left at the end of the month">
											Balance
										</th>
									</tr>
								</thead>
								<tbody class="govuk-table__body">
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Sep 18</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£0
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£3,300</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Oct 18</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£0
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£4,400</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Nov 18</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£0
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£5,500</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Dec 18</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£0
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£6,600</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Jan 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£0
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£7,700</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Feb 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£0
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£8,800</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Mar 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£0
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£9,900</td>
									</tr>
								</tbody>
							</table>

							<h3 class="govuk-heading-m">April 2019 to March 2020</h3>
							<table class="govuk-table govuk-table--font-small">
								<thead class="govuk-table__head">
									<tr class="govuk-table__row">
										<th class="govuk-table__header">Date</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="Cost of apprenticeships that have already started and currently being paid for.  This figure also includes any transfers you’ve made. Apprenticeships that have not started or been paid for are not included in this column">
											Cost of training
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="This column shows the total cost of all completion payments due for the month. The completion payment is shown in the month after the apprentice plans to end their apprenticeship. It is 20% of the total cost of each apprenticeship">
											Completion payments
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="These figures are not currently shown in the projection tool, but will be soon. Funds will start to expire from May 2019">
											Expired funds
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="Total of the last month's received levy funds from your PAYE schemes including the 10% top up, which will be updated on the 20th of each month and any transferred funds you've received. The same figure is used throughout the forecast">
											Funds in
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="The estimated funds you have left at the end of the month">
											Balance
										</th>
									</tr>
								</thead>
								<tbody class="govuk-table__body">
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Apr 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£0
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£11,000</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">May 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£12,100</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Jun 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£13,200</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Jul 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£14,300</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Aug 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£15,400</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Sep 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£16,500</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Oct 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£17,600</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Nov 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£18,700</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Dec 19</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£19,800</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Jan 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£20,900</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Feb 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£22,000</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Mar 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£23,100</td>
									</tr>
								</tbody>
							</table>

							<h3 class="govuk-heading-m">April 2020 to March 2021</h3>
							<table class="govuk-table govuk-table--font-small">
								<thead class="govuk-table__head">
									<tr class="govuk-table__row">
										<th class="govuk-table__header">Date</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="Cost of apprenticeships that have already started and currently being paid for.  This figure also includes any transfers you’ve made. Apprenticeships that have not started or been paid for are not included in this column">
											Cost of training
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="This column shows the total cost of all completion payments due for the month. The completion payment is shown in the month after the apprentice plans to end their apprenticeship. It is 20% of the total cost of each apprenticeship">
											Completion payments
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="These figures are not currently shown in the projection tool, but will be soon. Funds will start to expire from May 2019">
											Expired funds
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="Total of the last month's received levy funds from your PAYE schemes including the 10% top up, which will be updated on the 20th of each month and any transferred funds you've received. The same figure is used throughout the forecast">
											Funds in
										</th>
										<th class="govuk-table__header govuk-table__header--numeric" data-original-title="The estimated funds you have left at the end of the month">
											Balance
										</th>
									</tr>
								</thead>
								<tbody class="govuk-table__body">
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Apr 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£0
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£11,000</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">May 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£12,100</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Jun 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£13,200</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Jul 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£14,300</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Aug 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£15,400</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Sep 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£16,500</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Oct 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£17,600</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Nov 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£18,700</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Dec 20</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£19,800</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Jan 21</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£20,900</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Feb 21</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£22,000</td>
									</tr>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Mar 21</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">
											£250
										</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£1,100</td>
										<td class="govuk-table__cell govuk-table__cell--numeric">£23,100</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END PANE -->

				<!-- START PANE -->
				<div class="js-tab-pane" id="pane-summary" role="tabpanel">
					<div class="govuk-grid-row govuk-!-margin-top-4">
						<div class="govuk-grid-column-two-thirds">
							<h2 class="govuk-heading-l govuk-!-margin-bottom-4">
								Downloads
							</h2>

							<ul class="govuk-list govuk-list--bullet">				
								<li>
									<a href="#">Ut amet amet</a>
								</li>
								<li>
									<a href="#">Ut amet amet</a>
								</li>
								<li>
									<a href="#">Ut amet amet</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- END PANE -->
			</div>
		</section>
	</div>
</div>
{% endblock %}