{% extends "./layout-guidance.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include './_common/_phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				{{serviceName}}
			</h1>

			<p>Use this service if you receive funding directly from the Education and Skills Funding Agency (ESFA) and need to submit learner data. The ESFA uses this to calculate the funding earned by providers.</p>

			<p>You can submit:</p>
			<ul class="list list-bullet">
				<li>Individualised Learner Records (ILR)</li>
				<li>Earnings Adjustment Statements (EAS)</li>				
			</ul>

			<p>
				You can also:
			</p>
			<ul class="list list-bullet">
				<li>view reports for completed ILR returns</li>
				<li>download report files for compelted ILR returns</li>				
			</ul>			
			
			<p>
				You need to have an account with the government's <a href="#" rel="external" title="This will open in a new window">Identity Management Services system</a> to use this service.
			</p>

			<p>
				<a href="login" class="button button-start">Sign in</a>
			</p>
		</div>

		<div class="column-third">
			<aside class="govuk-related-items">
				<h2 class="heading-medium">
					Related content
				</h2>

				<ul class="list">
					<li>
						<a href="https://www.gov.uk/guidance/how-to-become-an-approved-training-provider-and-bid-for-funding">How to become an approved training provider and bid for funding</a>
					</li>
					<li>
						<a href="/{{version}}/support">
							Contact the ESFA service desk
						</a>
					</li>
			</aside>
		</div>
	</div>
</main>

{% endblock %}
