{% extends "../layout-estimator.html" %}

{% set phaseBanner = "true" %}
{% set serviceName = "Find out the cost of an apprenticeship" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block beforeContent %}
{% include 'includes/back-link.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% from "radios/macro.njk" import govukRadios %}

			{{ govukRadios(
				{
					classes: "",
					idPrefix: "has-account",
					name: "has-account",
					fieldset:
					{
						legend:
						{
							text: "Do you already have an apprenticeship account?",
							isPageHeading: true,
							classes: "govuk-fieldset__legend--xl"
						}
					},
					hint:
					{
						text: "Sign in to your apprenticeship account to use your actual financial data to make your estimate more accurate"
					},
					items:[
					{
						value: "yes",
						text: "Yes, I have an account",
						attributes:
						{
							required: true
						}
					},
					{
						value: "no",
						text: "No, I do not have an account",
						attributes:
						{
							required: true
						}
					}]
				})
			}}

			<input type="hidden" value="false" name="loggedIn">
			<input type="hidden" value="x" name="annual-payroll">
			
			{% from "button/macro.njk" import govukButton %}

			{{ govukButton({
				text: "Continue"
			}) }}
		</form>
	</div>
</div>
{% endblock %}