{% extends "../layout-estimator.html" %}

{% block beforeContent %}
{% include 'includes/back-link.html' %}
{% endblock %}

{% set serviceName = "Find out the cost of an apprenticeship" %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% if data['annual-payroll'] >= 36000000 %}

		{{ govukPanel({
			titleText: "You have to pay the Apprenticeship levy",
			classes: "govuk-!-margin-bottom-6"
		}) }}
		<!-- <h1 class="govuk-heading-xl">
			You have to pay the Apprenticeship levy
		</h1> -->

		<p>
			You’ll receive £{{ data['annual-levy-amount'] | numeral().format('0,0') }} of levy credit per year. Any unused credit will expire 24 months after it arrives in your account.
		</p>

		{% from "details/macro.njk" import govukDetails %}
		{{ govukDetails({
			summaryText: "How this is worked out",
			html: "
			<p>
				The amount you have available to spend is calculated on a monthly basis as follows:
			</p>

			<p>
				Your levy is 0.5% of your gross annual payroll, less a £15,000 allowance. The balance is then divided by 12 and rounded down to the nearest pound. This gives a monthly levy payment of £" + data['monthly-levy-payment'] | numeral().format('0,0') + " (rounded down).
			</p>

			<p>
				" + data['english-percentage'] + "% of your pay bill goes to employees in England, so £" + data['monthly-levy-payment'] | numeral().format('0,0') + " is multiplied by " + data['english-percentage'] + "%. The government tops that up by 10%, which gives you £" + data['monthly-levy-amount'] | numeral().format('0,0') + " (rounded up) to spend each month.
			</p>"
		}) }}

		{% else %}

		{{ govukPanel({
			titleText: "Government will pay 90% of your apprenticeship costs",
			classes: "govuk-!-margin-bottom-6"
		}) }}

		<!-- <h1 class="govuk-heading-xl">
			Government will pay 90% of your apprenticeship costs
		</h1> -->

		<p>
			Given your annual paybill is less than £3 million, you won't have to pay the apprenticeship levy.
		</p>

		<p>
			This means that you will only have to pay 10% toward the cost of apprenticeship training and the government will pay the rest.
		</p>
		{% endif %}

		<p>
			You can add some apprenticeships to your estimate to find out how much they will cost.
		</p>

		<a href="/{{version}}/add-apprenticeship" class="govuk-button">
			Add apprenticeships to your estimate
		</a>
	</div>
</div>
{% endblock %}