{% extends "../layout.html" %}

{% set serviceName = 'Submit learner data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}


{% block page_scripts %}
{% endblock %}

{% block content %}
<main id="content" role="main">
	{% include '../_common/_phase-banner.html' %}
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-box-highlight">
				<h1 class="heading-large">
					ESF data submitted
				</h1>

				<p class="font-medium">
					Your ESF submission is being processed and you will be able to see reports soon.
				</p>
			</div>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-medium">What happens next?</h2>
			
			{% if data['email-confirmation'] %}
			<p>You will receive an email notification once your data has been processed.</p>
			{% endif %}

			<p>You will be able to <a href="ilr-submission-details?ilr-submission-status=processing">view details about this submission</a> once the data has been processed, including:</p>

			<ul class="list list-bullet">
				<li>calculated funding amounts</li>
				<li>details about issues that might affect your funding</li>
				<li>a detailed breakdown of learner funding in your organisation</li>
			</ul>

			{% if data['contact-email'] != '' %}
			<p>An email will be sent to <span class="bold">{{data['contact-email']}}</span> when your file has been processed.</p>
			{% endif %}

			<!-- <p><a class="button" href="data-submissions" role="button" id="upload-complete-button">Finished</a></p> -->
		</div>

		<div class="column-third">
			<div class="govuk-related-items">
				<h2 class="heading-small">
					Help and support
				</h2>
				<a href="/{{version}}/support" class="font-xsmall">
					Contact the ESFA service desk
				</a>
			</div>
		</div>
	</div>
</main>
{% endblock %}