{% extends "../layout-estimator.html" %}

{% block beforeContent %}
{% include 'includes/back-link.html' %}
{% endblock %}

{% set serviceName = "Find out the cost of an apprenticeship" %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{{ govukPanel({
			titleText: "Government will pay 90% of your apprenticeship costs",
			classes: "govuk-!-margin-bottom-6"
		}) }}

		<!-- <h1 class="govuk-heading-xl">
			Government will pay 90% of your apprenticeship costs
		</h1> -->

		<p>
			Given your annual paybill is less than £3 million, you won't have to pay the apprenticeship levy.
		</p>

		<p>
			This means that you will only have to pay 10% toward the cost of apprenticeship training and the government will pay the rest.
		</p>

		<div class="govuk-inset-text">
			<h2 class="govuk-heading-m">
				Example
			</h2>
			<ul class="govuk-list">
				<li>
					Business Administrator Level: 3 (equivalent to A-level)
				</li>
				<li>
					You pay: £300
				</li>

				<li>
					Government pays: £2,700
				</li>
			</ul>
		</div>

		<a href="/{{version}}/add-apprenticeship" class="govuk-button">
			Choose another apprenticeship
		</a>
	</div>
</div>
{% endblock %}