<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date</dt>
      <dd>Mid-April 2018</dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<p>
  Removed a large amount of functionality following feedback from Alpha assessment. Allows us to broaden the scope of research to get more insight into user needs. Reducing design decisions based on existing system functionality.
</p>

<p>
  Tested the ability to submit ILR by using an online form. Presents user with the choice between uploading a file &amp; submitting using a form.
</p>

<p>
  <a href="/ilr-submission/version-1" class="button button-start">Start now</a>
</p>
