<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date</dt>
      <dd>Late April 2018</dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>A new ILR submission journey</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<p>
  Split the ILR submission journey in to two parts and also gives the user the choice of what data they would like to submit.
</p>
<p>
 First step involves choosing the data being submitted. Next is uploading the ILR file and getting instant feedback of any validation errors.
</p>

<h2 class="heading-medium">Research notes</h2>
<p>
  <a href="/ilr-submission/version-2" class="button button-start">Start now</a>
</p>