<div class="header-user">
	<div id="global-header-bar" class="global-header-bar--white"></div>
	<div class="header-inner">
		<div id="header-user--nav" class="grid-row">
			<div class="column-one-third">
				<h2 class="heading-small">
					<a href="/{{version}}/sfs">{{ data['provider-name'] or "Cambridge College" }}</a>
					<span class="heading-secondary">
						<span class="visuallyhidden">Logged in as </span>{{ data['user-id'] or "Norma Jones" }}
					</span>
				</h2>
			</div>

			<div class="column-two-thirds">
				<nav id="user-nav" class="js-hidden-mobile">
					<ul>
						<li{% if currentPage == 'submit' %} class="current"{% endif %}><a href="/{{version}}/data-submissions">Submit your data</a></li>
						<li{% if currentPage == 'reports' %} class="current"{% endif %}><a href="/{{version}}/reports">View reports</a></li>
						<li{% if currentPage == 'settings' %} class="current"{% endif %}><a href="/{{version}}/account-settings">Settings</a></li>
						<li><a href="/{{version}}/signed-out">Sign out</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>