{% extends "layout-index.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="homepage-top">
  <div class="homepage-top-content">
    <h1 class="heading-xlarge">
      What I need (WIN)
      <span>Prototypes</span>
    </h1>
  </div>
</div>

<main id="content" role="main">
  <div class="example">
    {% include 'summaries/version-1.html' %}
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">All versions</h2>

      <details>
        <summary><span class="summary">Version 1 (with provider sub-nav)</span></summary>
        <div class="panel">
          {% include 'summaries/version-1.html' %}
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}