{% extends "govuk_template.html" %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
<p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">
        {% block service_name %}
        {% if serviceName %} {{ serviceName }} {% endif %}
        {% endblock %}
      </a>
    </nav>
  </div>
</div>
{% endblock %}

{% block after_header %}
<style>
#global-header-bar{ display:none !important; }
</style>
{% if currentPage == 'login' %}
<div class="header-user">
  <div class="header-inner">
    <div id="header-user--nav" class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-small">
          {% if currentPage != 'login' %}
          <a href="/{{version}}/sfs">{{ data['provider-name'] or "Cambridge College" }}</a>
          <span class="heading-secondary">
            <span class="visuallyhidden">Logged in as </span>{{ data['user-id'] or "Norma Jones" }}
          </span>
          {% endif %}&nbsp;
        </h2>
      </div>

      <div class="column-two-thirds">
        <nav id="user-nav" class="js-hidden-mobile">
          <ul>
            {% if currentPage == 'login' %}
            <li{% if currentPage == 'submit' %} class="current"{% endif %}><a href="/{{version}}/data-submissions">Help</a></li>
            {% endif %}
            {% if currentPage != 'login' %}
            <li{% if currentPage == 'submit' %} class="current"{% endif %}><a href="/{{version}}/data-submissions">Submit your data</a></li>
            <li{% if currentPage == 'reports' %} class="current"{% endif %}><a href="/{{version}}/reports">View reports</a></li>
            <li{% if currentPage == 'settings' %} class="current"{% endif %}><a href="/{{version}}/account-settings">Settings</a></li>
            <li><a href="/{{version}}/signed-out">Sign out</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
      
    </div>
  </div>
</div>
{% else %}
<div id="floating-menu-holder">
  <div class="account-information floating-menu" role="navigation">
    <div class="js-float">
      <p class="floating-head-text">Your employer account </p>
      <nav id="user-nav">
        <ul role="menubar">
          <li><a href="/service/help">Help</a></li>
          <li class="has-sub-menu">
            <a href="/" role="menuitem">Settings</a>
            <ul role="menu" class="js-hidden" id="settings-menu" aria-hidden="true">
              <li><a href="/service/accounts" role="menuitem" class="sub-menu-item">Your accounts</a></li>
              <li><a href="/accounts/8MGY6M/rename" role="menuitem" class="sub-menu-item">Rename account</a></li>
              <li><a href="https://demo-login.apprenticeships.sfa.bis.gov.uk/account/changepassword?clientId=easdemo&amp;returnurl=https%3a%2f%2fdemo-eas.apprenticeships.sfa.bis.gov.uk%2fservice%2fpassword%2fchange" class="sub-menu-item">Change your password</a></li>
              <li><a href="https://demo-login.apprenticeships.sfa.bis.gov.uk/account/changeemail?clientId=easdemo&amp;returnurl=https%3a%2f%2fdemo-eas.apprenticeships.sfa.bis.gov.uk%2fservice%2femail%2fchange" class="sub-menu-item">Change your email address</a></li>
              <li><a href="/settings/notifications" class="sub-menu-item">Notification settings</a></li>
            </ul>
          </li>
          <li><a href="start" role="menuitem">Sign out</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="header-organisation" role="navigation">
  <nav class="header-inner">
    <ul role="menubar" id="global-nav-links"><li><a href="account-home" class="{% if currentPage == 'home' %}selected{% endif %}" role="menuitem">Home</a></li><li><a href="finance" class="{% if currentPage == 'finance' %}selected{% endif %}" role="menuitem">Finance</a></li><li><a href="https://demo-empc.apprenticeships.sfa.bis.gov.uk/commitments/accounts/8MGY6M/apprentices/home" class="" role="menuitem">Apprentices</a></li><li><a href="/accounts/8MGY6M/teams/view" class="" role="menuitem">Your team</a></li><li><a href="/accounts/8MGY6M/agreements" class="" role="menuitem">Your organisations and agreements</a></li><li><a href="/accounts/8MGY6M/schemes" class="" role="menuitem">PAYE schemes</a></li></ul>
  </nav>
</div>
{% endif %}
{% endblock %}

{% block header_class %}
with-proposition
{% endblock %}

{% block footer_support_links %}
{% if useAutoStoreData %}
<ul>
  <li>
    <a href="/prototype-admin/clear-data">Clear data</a>
  </li>

  <li>
    <a href="/{{version}}/settings">Prototype settings</a>
  </li>
</ul>
{% endif %}
{% endblock %}

{% block body_end %}
{% block scripts %}
{% include "includes/scripts.html" %}

{% block page_scripts %}
<script src="assets/javascripts/das-stuff.js"></script>
{% endblock %}

{% endblock %}
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
