{% extends "govuk_template.html" %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
<p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">
        {% block service_name %}
        {% if serviceName %} {{ serviceName }} {% endif %}
        {% endblock %}
      </a>
    </nav>
  </div>
</div>
{% endblock %}

{% block after_header %}
<style>
#global-header-bar{ display:none !important; }
</style>
<div class="header-user">
  <div class="header-inner">
    <div id="header-user--nav" class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-small">
          {% if currentPage != 'login' %}
          <a href="/{{version}}/sfs">{{ data['provider-name'] or "Cambridge College" }}</a>
          <span class="heading-secondary">
            <span class="visuallyhidden">Logged in as </span>{{ data['user-id'] or "Norma Jones" }}
          </span>
          {% endif %}&nbsp;
        </h2>
      </div>

      <div class="column-two-thirds">
        <nav id="user-nav" class="js-hidden-mobile">
          <ul>
            {% if currentPage == 'login' %}
            <li{% if currentPage == 'submit' %} class="current"{% endif %}><a href="/{{version}}/data-submissions">Help</a></li>
            {% endif %}
            {% if currentPage != 'login' %}
            <li{% if currentPage == 'submit' %} class="current"{% endif %}><a href="/{{version}}/data-submissions">Submit your data</a></li>
            <li{% if currentPage == 'reports' %} class="current"{% endif %}><a href="/{{version}}/reports">View reports</a></li>
            <li{% if currentPage == 'settings' %} class="current"{% endif %}><a href="/{{version}}/account-settings">Settings</a></li>
            <li><a href="/{{version}}/signed-out">Sign out</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}

{% block header_class %}
with-proposition
{% endblock %}

{% block footer_support_links %}
{% if useAutoStoreData %}
<ul>
  <li>
    <a href="/prototype-admin/clear-data">Clear data</a>
  </li>

  <li>
    <a href="/{{version}}/settings">Prototype settings</a>
  </li>
</ul>
{% endif %}
{% endblock %}

{% block body_end %}
{% block scripts %}
{% include "includes/scripts.html" %}
{% block page_scripts %}{% endblock %}
{% endblock %}
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
