{% extends version + "/layout.html" %}

{% set serviceName = 'Submit ILR data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}


{% block page_scripts %}
<script>
	{% include '../../../frontend-js/ilr-upload.js' %}
</script>
{% endblock %}

{% block content %}
<!-- {% include version + '/includes/_header-nav.html' %} -->

<main id="content" role="main">
	{% include version + '/includes/_phase-banner.html' %}
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-box-highlight">
				<h1 class="heading-large">
					ILR data submitted
				</h1>

				<p class="font-medium">
					Your ILR submission for {% include version + '/_return-period-text.html' %} is being processed. This should take around 3 hours.
				</p>
			</div>

			<h3 class="heading-medium">
				Upload details
			</h3>
			<table class="table-font-xsmall">
				<tbody>
					<tr>
						<td><span class="bold">File name</span></td>
						<td>{{ data['file-upload'] }}</td>
					</tr>
					<tr>
						<td><span class="bold">File size</span></td>
						<td>209.8kb</td>
					</tr>
					<tr>
						<td><span class="bold">Date and time</span></td>
						<td>{{ data['file-date'] }}</td>
					</tr>
				</tbody>
			</table>	
			
			<h2 class="heading-medium">What happens next?</h2>
			{% if data['email-confirmation'] %}<p>You will receive an email notification once your file has been processed.</p>{% endif %}

			<p>If any warnings or errors are found in the data you submitted they will be listed in a report file which can be downloaded once your submission has been processed.</p>

			<p><a class="button" href="/{{version}}/data-submissions/" role="button" id="upload-complete-button">Finished</a></p>
		</div>
	</div>
</main>
{% endblock %}