{% extends "./layout-guidance.html" %}
{% set data = 'returnPeriods' | loadData %}

{% block page_title %}
Submit an ILR - GOV.UK
{% endblock %}

{% block service_name %}
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				<span class="heading-secondary">
					Guidance
				</span>
				Individualised Learner Records (<abbr title="Individualised Learner Record">ILR</abbr>) submission calendar
			</h1>
			<p class="lede">
				Guidance about return period dates and deadlines for learning providers who submit data to the ESFA.
			</p>
		</div>
	</div>

	<hr>

	<div class="grid-row">
		<div class="column-two-thirds">
			<aside class="govuk-box-highlight">
				<p class="font-medium bold">
					{% include './_return-period-text.html' %} is open now and will close in
				</p>
				<span class="font-xxlarge bold">15 days</span>
				<p class="font-medium bold">
					File submissions will be stopped on Tuesday 6th February 2018 at 6.00 PM
				</p>
			</aside>
			
			{% for period in data.return_periods %}
			<h3 class="heading-medium" id="return-period{{period.id}}">
				{{period.name}}
			</h3>
			<p>
				{{period.name}} runs from {{period.start_date}} until {{period.end_date}}.
			</p>

			<table class="table-font-xsmall">
				<thead>
					<tr>
						<th>Event</th>
						<th>Start</th>
						<th>End</th>
					</tr>
				</thead>

				<tbody>
					{% for event in period.events %}		
					<tr>
						<td>{{event.name}}</td>
						<td>{{event.start}}</td>
						<td>{{event.end}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endfor %}
		</div>
		<div class="column-third">
			<div class="govuk-related-items">
				<h2 class="heading-medium">
					Skip to a return period
				</h2>

				<ul>
					{% for period in data.return_periods %}
					<li>
						<a href="#return-period{{period.id}}">{{period.name}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</main>

{% endblock %}