{% extends "./layout.html" %}

{% set serviceName = 'Submit learner data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block page_scripts %}
<script>
	{% include './frontend-js/ilr-upload.js' %}
</script>
{% endblock %}

{% block content %}
<!-- {% include './includes/_header-nav.html' %} -->

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">		
			<form action="submission-complete">
				<div class="form-group">
					<fieldset>
						<legend>
							<h1 class="heading-large">Do you want to get an email when your data has been processed?</h1>
						</legend>

						<div class="multiple-choice" data-target="contact-by-email">
							<input id="radio-yes" type="radio" name="get-email" value="true">
							<label for="radio-yes">Yes</label>
						</div>
						<div class="panel panel-border-narrow js-hidden" id="contact-by-email">
							<label class="form-label" for="contact-email">Email address</label>
							<input class="form-control" name="contact-email" type="text" id="contact-email" value="youremail@test.com">
						</div>

						<div class="multiple-choice">
							<input id="radio-no" type="radio" name="get-email" value="false">
							<label for="radio-no">No</label>
						</div>
					</fieldset>
				</div>

				<input type="submit" value="Continue" class="button">
			</form>
		</div>

		<div class="column-one-third">

		</div>
	</div>
</main>

{% endblock %}